In [1]:
#Importing the necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
#opening the csv file and converting to DataFrame
df = pd.read_csv('car_details.csv')

In [3]:
df.head()

,vehical_name,Registration Year,Insurance,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture,Engine,Power,Transmission .1,Drive Type,Mileage,Fuel,new_vehical_price,vehical_price,other_features
0,2013 Toyota Etios GD,2013,-,Diesel,5 Seats,"1,50,000 Kms",Sri Ganganagar,Fourth Owner,1364 cc,Manual,2013.0,NaN,NaN,Manual,NaN,NaN,NaN,New Car Price ₹8.05 Lakh,₹2.60 Lakh,[]
1,2024 Toyota Glanza V,2024,-,Petrol,5 Seats,"10,000 Kms",dasuya,First Owner,1197 cc,Manual,2024.0,NaN,NaN,Manual,NaN,NaN,NaN,New Car Price ₹11.28 Lakh,₹9.40 Lakh,[]
2,2017 Hyundai Creta 1.4 E Plus,Jul-17,Comprehensive,Diesel,5 Seats,"75,000 Kms",Gurgaon,First Owner,1396 cc,Manual,2017.0,NaN,NaN,Manual,NaN,NaN,NaN,New Car Price ₹11.86 Lakh,₹6.25 Lakh Make Your Offer,[]
3,2011 Volkswagen Vento Diesel Trendline,2011,-,Diesel,5 Seats,"1,60,000 Kms",jalalabad,Third Owner,1598 cc,Manual,2011.0,1598 cc,103.6 bhp,Manual,NaN,20.54 kmpl,Diesel,New Car Price ₹10.05 Lakh,₹1.40 Lakh,['Parking Sensors']
4,2014 Hyundai Verna 1.6 CRDI,2014,-,Diesel,5 Seats,"1,20,000 Kms",Meerut,First Owner,1582 cc,Manual,2014.0,1582 cc,126.3 bhp,Manual,NaN,22.32 kmpl,Diesel,New Car Price ₹11.87 Lakh,₹4 Lakh,"['Automatic Climate Control', 'Parking Sensors']"

In [4]:
df.shape

(10224, 20)

### Dataset Summary

This dataset consists of 10,224 rows and 20 columns, where each row represents an individual used car listed for sale. The dataset includes detailed information such as the car’s brand, model, year of manufacture, fuel type, transmission type, engine capacity, mileage, location, and selling price. It provides a comprehensive view of the used car market, making it useful for analyzing pricing trends, identifying factors that influence car prices, and building predictive models for estimating the resale value of vehicles.

### Columns Description

| **Column Name**         | **Description**                                                                                              |
| ----------------------- | ------------------------------------------------------------------------------------------------------------ |
| **vehical_name**        | The full name of the car, typically including year, brand, and model.                                        |
| **Registration Year**   | The year in which the vehicle was registered with the RTO.                                                   |
| **Insurance**           | Type or status of car insurance (e.g., Comprehensive, Third-Party, or missing).                              |
| **Fuel Type**           | The primary fuel used by the car (e.g., Petrol, Diesel, CNG).                                                |
| **Seats**               | Total number of seats in the car (e.g., 5 Seats, 7 Seats).                                                   |
| **Kms Driven**          | The total distance the car has been driven, often formatted as text (e.g., “75,000 Kms”).                    |
| **RTO**                 | The Regional Transport Office (RTO) location where the vehicle is registered.                                |
| **Ownership**           | Ownership type indicating how many people have owned the vehicle (e.g., First Owner, Second Owner).          |
| **Engine Displacement** | Engine capacity in cubic centimeters (cc), showing the engine’s power potential.                             |
| **Transmission**        | Type of transmission in the vehicle (e.g., Manual, Automatic).                                               |
| **Year of Manufacture** | The year the car was originally manufactured.                                                                |
| **Engine**              | Engine specification, often redundant with engine displacement but sometimes includes details like cc value. |
| **Power**               | Maximum power output of the vehicle, generally measured in brake horsepower (bhp).                           |
| **Transmission .1**     | Duplicate or alternative transmission column, likely due to data extraction; may need cleaning.              |
| **Drive Type**          | Indicates drivetrain type (e.g., FWD, RWD, AWD). Often missing or unrecorded.                                |
| **Mileage**             | The fuel efficiency of the car, typically in kmpl (kilometers per liter).                                    |
| **Fuel**                | Duplicate or secondary fuel column similar to “Fuel Type.”                                                   |
| **new_vehical_price**   | The price of a brand-new version of the same model, usually listed as text with currency symbols.            |
| **vehical_price**       | The current selling price of the used car (target variable for price prediction).                            |
| **other_features**      | List of extra features like “Parking Sensors,” “Climate Control,” etc., represented as text or lists.        |

## Data Accessing

- **Manual assessment :** Looking through the data manually in google sheets
- **Programmatic assessment :** By using pandas functions such as info(), describe() or sample()

In [5]:
#Programmatic assessment
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10224 entries, 0 to 10223
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   vehical_name          10224 non-null  object
 1   Registration Year     10198 non-null  object
 2   Insurance             10224 non-null  object
 3   Fuel Type             10224 non-null  object
 4   Seats                 10212 non-null  object
 5   Kms Driven            10224 non-null  object
 6   RTO                   9557 non-null   object
 7   Ownership             10221 non-null  object
 8   Engine Displacement   10138 non-null  object
 9   Transmission          10224 non-null  object
 10  Year of Manufacture   10201 non-null  float64
 11  Engine                7341 non-null   object
 12  Power                 7098 non-null   object
 13  Transmission .1       10224 non-null  object
 14  Drive Type            2247 non-null   object
 15  Mileage               6809 non-null   object
 16  Fuel                  6160 non-null   object
 17  new_vehical_price     10224 non-null  object
 18  vehical_price         10224 non-null  object
 19  other_features        10224 non-null  object
dtypes: float64(1), object(19)
memory usage: 1.6+ MB

In [6]:
#checking for no.of null values in each col
df.isnull().sum()

vehical_name               0
Registration Year         26
Insurance                  0
Fuel Type                  0
Seats                     12
Kms Driven                 0
RTO                      667
Ownership                  3
Engine Displacement       86
Transmission               0
Year of Manufacture       23
Engine                  2883
Power                   3126
Transmission .1            0
Drive Type              7977
Mileage                 3415
Fuel                    4064
new_vehical_price          0
vehical_price              0
other_features             0
dtype: int64

In [7]:
missing_percentage = (df.isnull().sum() / len(df)) * 100
missing_percentage

vehical_name             0.000000
Registration Year        0.254304
Insurance                0.000000
Fuel Type                0.000000
Seats                    0.117371
Kms Driven               0.000000
RTO                      6.523865
Ownership                0.029343
Engine Displacement      0.841158
Transmission             0.000000
Year of Manufacture      0.224961
Engine                  28.198357
Power                   30.575117
Transmission .1          0.000000
Drive Type              78.022300
Mileage                 33.401800
Fuel                    39.749609
new_vehical_price        0.000000
vehical_price            0.000000
other_features           0.000000
dtype: float64

In [8]:
df.duplicated().sum()

np.int64(79)

In [9]:
df.describe()

       Year of Manufacture
count          10201.000000
mean            2017.599157
std                4.498954
min             2002.000000
25%             2014.000000
50%             2018.000000
75%             2021.000000
max             2025.000000

In [10]:
(df['Insurance '].value_counts()/len(df))*100

Insurance
-                79.303599
Comprehensive    16.656886
Third Party       3.139671
Zero Dep          0.899844
Name: count, dtype: float64

In [2]:
pd.set_option('display.max_rows', None)

## Issues with the dataset

- Mileage column has Inconsistent units for some records it is kmpl (Kilometers per Liter for Petrol/Diesel) and for some it is km/kg (Kilometers per Kilogram for CNG/LPG).
- The values in Engine Displacement and Engine (where both are present) are identical, indicating they represent the same feature.
- There are 79 duplicate records in dataset.
- In Insurance column 79% of the values are represnted by '-' which has to be null.
- The values in Fuel and Fuel_type (where both are present) are identical, indicating they represent the same feature.
- Transmission column is present 2 times with two names.
- The Registration Year column contains mixed formats — some entries have only the year (e.g., 2013), while others include month and year (e.g., Jul-17).And also it has 0.26% missing values.
- The Seats column has approximately 0.12% missing values, which represent cars where seating capacity was not recorded.
- The Kms Driven column contains string values with text like "kms" and commas (e.g., "45,000 kms"), making it non-numeric and unsuitable for numerical operations.
- The RTO column represents the Regional Transport Office where the vehicle is registered. However, some records contain only partial information (e.g., "MH12", "TS09") showing only the first four letters of the vehicle number plate, while others include the full RTO city or office name. Additionally, around 6.52% of the values are missing (null).
- Ownership column as 3 missing values.
- Engine Displacement has around 0.84% missing values.
- Year of Manufactore column values are almost same as Registration_year.
- Power column as 30.5% missing values.
- The Drive Type column indicates the vehicle’s drivetrain (e.g., FWD, RWD, AWD, 4WD) but contains inconsistent formats like *‘4X4’, ‘Four Whell Drive’, ‘RWD(with MTT)’*. It also has 78% missing values, affecting data consistency.
-  Mileage has 33.4% null values.
-  The ‘New Car Price’ column contains text such as ‘New Car Price ₹11.28 Lakh’, which includes unnecessary words and currency symbols. We need to extract only the numeric price values and convert them into float type for proper numerical analysis.
- The ‘Vehicle Price’ column contains inconsistent formats — some entries include extra text like “Make Your Offer”, while others are expressed in lakhs or thousands.
- The ‘other_features’ column contains lists of car features in inconsistent formats — some records have empty lists ([]), while others include multiple features as string lists.

### Data Cleaning

#### Steps involved in Data cleaning
- Define
- Code
- Test

In [29]:
#1. Removing the duplicate columns Fuel,transmission1,year of manufactore,Engine
df.drop(columns=['Year of Manufacture ','Engine ','Fuel ','Transmission .1'],inplace=True)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10224 entries, 0 to 10223
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   vehical_name          10224 non-null  object
 1   Registration Year     10198 non-null  object
 2   Insurance             10224 non-null  object
 3   Fuel Type             10224 non-null  object
 4   Seats                 10212 non-null  object
 5   Kms Driven            10224 non-null  object
 6   RTO                   9557 non-null   object
 7   Ownership             10221 non-null  object
 8   Engine Displacement   10138 non-null  object
 9   Transmission          10224 non-null  object
 10  Power                 7098 non-null   object
 11  Drive Type            2247 non-null   object
 12  Mileage               6809 non-null   object
 13  new_vehical_price     10224 non-null  object
 14  vehical_price         10224 non-null  object
 15  other_features        10224 non-null  object
dtypes: object(16)
memory usage: 1.2+ MB

In [37]:
#changing col names to lowercase
df.columns = df.columns.str.strip()

df.rename(columns={
    'vehical_name': 'vehicle_name',
    'Registration Year': 'registration_year',
    'Insurance': 'insurance_status',
    'Fuel Type': 'fuel_type',
    'Seats': 'seats',
    'Kms Driven': 'kms_driven',
    'RTO': 'rto_location',
    'Ownership': 'ownership',
    'Engine Displacement': 'engine_displacement',
    'Transmission': 'transmission_type',
    'Power': 'engine_power',
    'Drive Type': 'drive_type',
    'Mileage': 'mileage',
    'new_vehical_price': 'new_vehicle_price',
    'vehical_price': 'vehicle_price',
    'other_features': 'other_features'
}, inplace=True)

In [29]:
df = pd.read_csv('cars_updated.csv',index_col=0)

In [30]:
df.head()

,vehicle_name,registration_year,insurance_status,fuel_type,seats,kms_driven,rto_location,ownership,engine_displacement,transmission_type,engine_power,drive_type,mileage,new_vehicle_price,vehicle_price,other_features
0,2013 Toyota Etios GD,2013,-,Diesel,5 Seats,"1,50,000 Kms",Sri Ganganagar,Fourth Owner,1364 cc,Manual,NaN,NaN,NaN,New Car Price ₹8.05 Lakh,₹2.60 Lakh,[]
1,2024 Toyota Glanza V,2024,-,Petrol,5 Seats,"10,000 Kms",dasuya,First Owner,1197 cc,Manual,NaN,NaN,NaN,New Car Price ₹11.28 Lakh,₹9.40 Lakh,[]
2,2017 Hyundai Creta 1.4 E Plus,Jul-17,Comprehensive,Diesel,5 Seats,"75,000 Kms",Gurgaon,First Owner,1396 cc,Manual,NaN,NaN,NaN,New Car Price ₹11.86 Lakh,₹6.25 Lakh Make Your Offer,[]
3,2011 Volkswagen Vento Diesel Trendline,2011,-,Diesel,5 Seats,"1,60,000 Kms",jalalabad,Third Owner,1598 cc,Manual,103.6 bhp,NaN,20.54 kmpl,New Car Price ₹10.05 Lakh,₹1.40 Lakh,['Parking Sensors']
4,2014 Hyundai Verna 1.6 CRDI,2014,-,Diesel,5 Seats,"1,20,000 Kms",Meerut,First Owner,1582 cc,Manual,126.3 bhp,NaN,22.32 kmpl,New Car Price ₹11.87 Lakh,₹4 Lakh,"['Automatic Climate Control', 'Parking Sensors']"

#### Mileage :

In [31]:
# In mileage converting every record into kmpl and converting it into float
df['mileage'].unique()

array([nan, '20.54 kmpl', '22.32 kmpl', '13.45 km/kg', '16.35 kmpl',
       '21.5 kmpl', '21.38 kmpl', '15.96 kmpl', '16 kmpl', '24.3 kmpl',
       '21.21 kmpl', '20.6 kmpl', '21.13 kmpl', '28.09 kmpl', '17 kmpl',
       '19.33 kmpl', '24.2 kmpl', '19.3 kmpl', '18.6 kmpl', '26.59 kmpl',
       '26.2 km/kg', '18.49 kmpl', '16.36 kmpl', '18.27 kmpl', '20 kmpl',
       '19.67 kmpl', '26.8 kmpl', '21 kmpl', '17.4 kmpl', '23.59 kmpl',
       '22.1 kmpl', '24.8 kmpl', '19.44 kmpl', '22.38 kmpl', '19.2 kmpl',
       '22.5 kmpl', '27.97 kmpl', '25.8 kmpl', '20.09 kmpl', '20.36 kmpl',
       '24 kmpl', '22.54 kmpl', '16.1 kmpl', '23 kmpl', '17.03 kmpl',
       '16.25 kmpl', '15.42 kmpl', '12.8 kmpl', '22.7 kmpl', '18.1 kmpl',
       '17.71 kmpl', '15.2 kmpl', '26.21 kmpl', '25.44 kmpl', '11.5 kmpl',
       '21.11 kmpl', '15.4 kmpl', '18.4 kmpl', '15.9 kmpl', '20.4 kmpl',
       '21.01 kmpl', '21.1 kmpl', '17.8 kmpl', '18.15 kmpl', '19.01 kmpl',
       '17.5 kmpl', '9.5 kmpl', '21.4 kmpl', '18 kmpl', '24.52 kmpl',
       '19.4 kmpl', '18.9 km/kg', '25.51 km/kg', '20.52 kmpl',
       '22.05 kmpl', '19.05 kmpl', '27 km/kg', '18.9 kmpl', '15.1 kmpl',
       '25.2 kmpl', '16.47 kmpl', '20.51 kmpl', '17.6 kmpl', '23.9 kmpl',
       '26.49 km/kg', '23.95 kmpl', '23.1 kmpl', '25.24 kmpl', '13 kmpl',
       '21.56 kmpl', '11.67 kmpl', '25.47 kmpl', '27.28 kmpl',
       '19.6 kmpl', '23.2 kmpl', '9 kmpl', '25.5 kmpl', '22.15 kmpl',
       '21.43 kmpl', '19.89 kmpl', '17.3 kmpl', '20.77 kmpl',
       '13.93 kmpl', '16.55 kmpl', '12.55 kmpl', '21.7 kmpl', '8 kmpl',
       '25.1 kmpl', '24.39 kmpl', '19 kmpl', '26 kmpl', '15 kmpl',
       '15.58 kmpl', '14.9 kmpl', '22 kmpl', '14.08 kmpl', '18.7 kmpl',
       '19.7 kmpl', '24.4 kmpl', '19.1 kmpl', '22.3 kmpl', '22.35 kmpl',
       '17.19 kmpl', '15.6 kmpl', '20.97 kmpl', '20.7 kmpl', '19.81 kmpl',
       '20.89 kmpl', '17.57 kmpl', '14.3 kmpl', '16.8 kmpl', '20.92 kmpl',
       '18.3 kmpl', '20.65 kmpl', '19.03 kmpl', '18.55 kmpl', '12.4 kmpl',
       '28.4 kmpl', '17.1 kmpl', '19.09 kmpl', '21.64 kmpl', '24.7 kmpl',
       '17.21 kmpl', '16.82 kmpl', '20.8 kmpl', '16.39 kmpl', '20.3 kmpl',
       '12.62 kmpl', '28 km/kg', '20.73 kmpl', '18.19 kmpl', '20.38 kmpl',
       '30.46 km/kg', '21.46 kmpl', '21.63 kmpl', '34.05 km/kg',
       '22.8 km/kg', '30.47 km/kg', '33 km/kg', '25.32 kmpl',
       '13.32 kmpl', '19.83 kmpl', '19.17 kmpl', '16.5 kmpl',
       '23.84 kmpl', '22.77 kmpl', '32.52 km/kg', '14.24 kmpl',
       '23.56 kmpl', '17.41 kmpl', '20.86 kmpl', '16.92 kmpl',
       '18.75 kmpl', '14 kmpl', '20.45 kmpl', '19.72 kmpl', '18.16 kmpl',
       '22.07 kmpl', '23.4 kmpl', '21.9 kmpl', '13.8 kmpl', '21.12 kmpl',
       '21.74 kmpl', '13.2 kmpl', '20.14 kmpl', '23.01 kmpl',
       '21.27 kmpl', '12.2 kmpl', '22.74 kmpl', '14.53 kmpl',
       '21.19 kmpl', '17.2 kmpl', '28.51 km/kg', '13.6 kmpl',
       '23.19 kmpl', '25.4 kmpl', '22.27 kmpl', '25.17 kmpl',
       '12.34 kmpl', '14.82 kmpl', '16.56 kmpl', '8.61 kmpl', '18.8 kmpl',
       '27.1 km/kg', '13.96 kmpl', '18.2 kmpl', '22.94 kmpl', '19.8 kmpl',
       '26.68 kmpl', '15.29 kmpl', '10 kmpl', '19.34 kmpl', '25.83 kmpl',
       '21.79 kmpl', '16.6 kmpl', '16.95 kmpl', '33.44 km/kg', '11 kmpl',
       '15.26 kmpl', '17.01 kmpl', '15.73 kmpl', '26.11 km/kg',
       '8.5 kmpl', '19.5 kmpl', '15.85 kmpl', '20.15 kmpl', '18.41 kmpl',
       '20.5 kmpl', '17.05 kmpl', '24.9 kmpl', '16.9 kmpl', '15.43 kmpl',
       '14.44 kmpl', '16.02 kmpl', '20.85 kmpl', '24.43 kmpl',
       '15.7 kmpl', '17.7 kmpl', '26.6 km/kg', '17.38 kmpl', '23.5 kmpl',
       '19.28 kmpl', '17.29 kmpl', '23.03 kmpl', '24.04 kmpl',
       '22.89 kmpl', '17.92 kmpl', '16.2 kmpl', '26.08 km/kg',
       '17.52 kmpl', '30.61 km/kg', '16.65 kmpl', '17.33 kmpl',
       '23.65 kmpl', '13.5 kmpl', '25 kmpl', '19.76 kmpl', '26.99 km/kg',
       '23.64 kmpl', '27.4 kmpl', '22.71 kmpl', '12.65 kmpl',
       '19.62 kmpl', '32.85 km/kg', '13.7 kmpl', '17.74 kmpl',
       '26.1 kmpl', '18.5 kmpl', '20.1 kmpl', '15.37 kmpl', '17.23 kmpl',
       '15.5 kmpl', '14.6 kmpl', '12.05 kmpl', '15.64 kmpl', '20.25 kmpl',
       '14.7 kmpl', '13.9 kmpl', '19.87 kmpl', '10.14 kmpl', '13.79 kmpl',
       '18.06 kmpl', '22.9 kmpl', '17.96 kmpl', '17.72 kmpl',
       '22.41 kmpl', '24.35 kmpl', '21.8 kmpl', '17.44 kmpl',
       '21.1 km/kg', '20.88 km/kg', '16.78 kmpl', '14.8 kmpl',
       '19.95 kmpl', '21.04 kmpl', '24.76 kmpl', '15.8 kmpl',
       '22.95 kmpl', '14.1 kmpl', '17.11 kmpl', '27.39 kmpl',
       '12.33 kmpl', '12.9 kmpl', '16.14 kmpl', '19.35 kmpl', '23.7 kmpl',
       '9.36 kmpl', '11.88 km/kg', '13.1 kmpl', '10.91 kmpl',
       '17.88 kmpl', '18.65 kmpl', '14.12 kmpl', '18.48 kmpl',
       '12.17 kmpl', '22 km/kg', '18.09 kmpl', '14.11 kmpl', '23.23 kmpl',
       '16.42 kmpl', '17.5 km/kg', '16.3 kmpl', '18.43 kmpl',
       '18.88 kmpl', '17.45 kmpl', '23.22 kmpl', '34.73 km/kg',
       '35.6 km/kg', '26.82 kmpl', '17 km/kg', '22.56 kmpl', '13.49 kmpl',
       '15.3 kmpl', '18.78 kmpl', '26.32 kmpl', '15.74 kmpl',
       '13.47 kmpl', '19.16 kmpl', '15.38 kmpl', '27.62 kmpl',
       '20.63 kmpl', '17.18 kmpl', '19.47 kmpl', '14.4 kmpl',
       '16.98 kmpl', '26.55 km/kg', '13.87 kmpl', '15.04 kmpl',
       '16.09 kmpl', '21.14 kmpl', '14.95 kmpl', '13.24 kmpl',
       '13.05 kmpl', '16.11 kmpl', '17.99 kmpl', '31.2 km/kg',
       '18.31 kmpl', '15.31 kmpl', '24.07 kmpl', '12 kmpl', '16.4 kmpl',
       '26.8 km/kg', '34.3 km/kg', '19.71 kmpl', '21.66 kmpl',
       '21.72 kmpl', '20.08 kmpl', '24 km/kg', '30.9 km/kg', '14.23 kmpl',
       '24.08 kmpl', '20.07 kmpl', '33.73 km/kg', '11.57 kmpl',
       '25.6 kmpl', '15.11 kmpl', '20.75 kmpl', '18.89 kmpl',
       '20.62 kmpl', '18.97 kmpl', '18.53 kmpl', '19.64 kmpl',
       '24.29 kmpl', '19.12 kmpl', '14.49 kmpl', '17.9 kmpl',
       '13.2 km/kg', '14.2 kmpl', '14.28 kmpl', '14.74 kmpl',
       '16.38 kmpl', '25.3 kmpl', '22.61 kmpl', '24.97 kmpl',
       '25.01 kmpl', '25.35 kmpl', '12.99 kmpl', '19.2 km/kg',
       '17.16 kmpl', '21.03 kmpl', '20.37 kmpl', '16.94 kmpl',
       '17.8 km/kg', '23.8 kmpl', '21.94 km/kg', '18.12 kmpl',
       '21.3 kmpl', '24.1 kmpl', '17.95 kmpl', '13.01 kmpl', '14.75 kmpl',
       '31.12 km/kg', '13.38 kmpl', '20.04 kmpl', '20.28 kmpl',
       '28.5 km/kg', '25 km/kg', '33.54 km/kg', '18 km/kg', '30.48 km/kg',
       '16.12 kmpl', '31.79 km/kg', '16.8 km/kg', '10.5 kmpl',
       '17.43 kmpl', '25.75 kmpl', '17.44 km/kg', '27.3 kmpl',
       '32.73 km/kg', '18.24 kmpl', '14.025 kmpl', '19.02 kmpl',
       '13.03 kmpl', '17.13 kmpl', '26.2 kmpl', '14.5 kmpl', '16.57 kmpl',
       '5.4 kmpl', '14.19 kmpl', '19.68 kmpl', '26.06 kmpl', '24.79 kmpl',
       '18.07 kmpl', '13.55 kmpl', '14.69 kmpl', '17.67 kmpl',
       '14.66 kmpl', '14.09 kmpl', '19.56 kmpl', '11.2 kmpl', '11.3 kmpl',
       '15.81 kmpl', '13.4 kmpl', '23.08 kmpl', '15.1 km/kg',
       '19.65 kmpl', '12.12 kmpl', '12.6 kmpl', '18.67 kmpl',
       '12.37 kmpl', '12.7 kmpl', '10.01 kmpl', '14.4 km/kg', '8.2 kmpl',
       '10.9 km/kg', '25.71 kmpl', '14.85 kmpl', '13.58 kmpl',
       '11.7 kmpl', '13.29 kmpl', '15.63 kmpl', '11.79 kmpl',
       '18.76 kmpl', '22.1 km/kg', '17.24 kmpl', '23.57 kmpl',
       '25.49 kmpl', '14.84 kmpl', '11.96 kmpl', '17.09 kmpl',
       '17.3 km/kg', '16.4 km/kg', '19.61 kmpl', '15.15 kmpl',
       '13.17 kmpl', '14.67 kmpl', '14.62 kmpl', '16.93 kmpl',
       '20.34 kmpl', '16.96 kmpl', '14.81 kmpl', '10.52 kmpl',
       '26.83 km/kg', '27.03 kmpl', '22.8 kmpl', '11.68 kmpl',
       '12.83 kmpl', '31.59 km/kg', '14.02 kmpl', '19.98 kmpl',
       '18.86 kmpl', '23.15 kmpl', '14.07 kmpl', '11.45 kmpl',
       '16.84 kmpl', '12.08 kmpl', '16.24 kmpl', '18.33 kmpl',
       '28.06 km/kg', '20.58 kmpl', '26.78 km/kg', '27.13 kmpl',
       '12.07 kmpl'], dtype=object)

In [32]:
df['mileage_value'] = df['mileage'].str.split(' ').str.get(0)
df['mileage_unit'] = df['mileage'].str.split(' ').str.get(1)

In [33]:
df['mileage_unit'].unique()

array([nan, 'kmpl', 'km/kg'], dtype=object)

In [34]:
df['fuel_type'].value_counts()

fuel_type
Petrol      5563
Diesel      4209
CNG          330
Electric      82
LPG           40
Name: count, dtype: int64

In [35]:
df['mileage_value'] = df['mileage_value'].astype('float')

In [36]:
# Conditional conversion from km/kg → kmpl based on fuel type (avoiding the null values)
df.loc[(df['fuel_type'] == 'Petrol') & 
       (df['mileage_unit'] == 'km/kg') & 
       (df['mileage_value'].notnull()), 'mileage_value'] /= 1.39

df.loc[(df['fuel_type'] == 'Diesel') & 
       (df['mileage_unit'] == 'km/kg') & 
       (df['mileage_value'].notnull()), 'mileage_value'] /= 1.18

df.loc[(df['fuel_type'] == 'LPG') & 
       (df['mileage_unit'] == 'km/kg') & 
       (df['mileage_value'].notnull()), 'mileage_value'] /= 1.25

In [45]:
df[df['fuel_type'] == 'Electric']['mileage'].isnull().sum()

np.int64(82)

In [40]:
df.loc[df['fuel_type'] == 'Electric','mileage_value'] = 0

In [43]:
df[df['fuel_type'] == 'Electric']['mileage_value']

418      0.0
452      0.0
565      0.0
622      0.0
655      0.0
        ...
9548     0.0
9557     0.0
9560     0.0
9794     0.0
10011    0.0
Name: mileage_value, Length: 82, dtype: float64

In [47]:
#droping cols mileage & mileage_unit
df.drop(columns=['mileage_unit','mileage'],inplace=True)

In [50]:
#changing the mileage_value col name
df.rename(columns={'mileage_value':'mileage(kmpl)'},inplace=True)

In [51]:
df['mileage(kmpl)'].describe()

count    6891.000000
mean       19.691790
std         4.432978
min         0.000000
25%        17.110000
50%        19.810000
75%        22.365000
max        35.600000
Name: mileage(kmpl), dtype: float64

#### Registration_year :

In [60]:
df.head()

,vehicle_name,registration_year,insurance_status,fuel_type,seats,kms_driven,rto_location,ownership,engine_displacement,transmission_type,engine_power,drive_type,new_vehicle_price,vehicle_price,other_features,mileage(kmpl)
0,2013 Toyota Etios GD,2013,-,Diesel,5 Seats,"1,50,000 Kms",Sri Ganganagar,Fourth Owner,1364 cc,Manual,NaN,NaN,New Car Price ₹8.05 Lakh,₹2.60 Lakh,[],NaN
1,2024 Toyota Glanza V,2024,-,Petrol,5 Seats,"10,000 Kms",dasuya,First Owner,1197 cc,Manual,NaN,NaN,New Car Price ₹11.28 Lakh,₹9.40 Lakh,[],NaN
2,2017 Hyundai Creta 1.4 E Plus,Jul-17,Comprehensive,Diesel,5 Seats,"75,000 Kms",Gurgaon,First Owner,1396 cc,Manual,NaN,NaN,New Car Price ₹11.86 Lakh,₹6.25 Lakh Make Your Offer,[],NaN
3,2011 Volkswagen Vento Diesel Trendline,2011,-,Diesel,5 Seats,"1,60,000 Kms",jalalabad,Third Owner,1598 cc,Manual,103.6 bhp,NaN,New Car Price ₹10.05 Lakh,₹1.40 Lakh,['Parking Sensors'],20.54
4,2014 Hyundai Verna 1.6 CRDI,2014,-,Diesel,5 Seats,"1,20,000 Kms",Meerut,First Owner,1582 cc,Manual,126.3 bhp,NaN,New Car Price ₹11.87 Lakh,₹4 Lakh,"['Automatic Climate Control', 'Parking Sensors']",22.32

In [71]:
df['registration_year'].unique()

array(['2013', '2024', 'Jul-17', '2011', '2014', '2012', 'May-23',
       'Jul-21', 'Jul-19', 'Jan-19', 'Apr-14', 'Aug-17', 'Jul-18',
       'Dec-20', 'Aug-14', 'Oct-21', 'Jul-14', 'Dec-17', 'Dec-16',
       'Mar-11', 'Feb-15', 'Apr-11', 'Jun-12', 'Mar-15', 'Oct-10',
       'Aug-16', 'Feb-20', 'Aug-12', 'Nov-24', 'Jan-15', 'May-16',
       'Mar-17', 'Nov-13', 'Dec-15', 'May-15', 'Apr-13', 'Jan-12',
       'Oct-12', 'Nov-18', 'May-14', 'Nov-21', '2017', 'Sep-14', '2023',
       '2010', '2019', 'Aug-11', 'Nov-22', '2015', '2016', '2020', '2025',
       'Jul-15', 'Feb-23', 'May-10', 'Mar-10', 'Feb-11', 'Aug-18',
       'Nov-11', 'Aug-09', 'Sep-13', 'Sep-21', 'May-19', 'Oct-22',
       'Aug-20', 'May-07', 'Oct-11', 'Jun-16', '2021', 'Aug-23', '2022',
       'Jan-17', 'Nov-19', 'Nov-10', 'Apr-18', 'May-11', 'Jun-23',
       'Jun-20', 'Jul-12', 'Apr-19', 'Mar-20', 'Jan-16', 'Mar-19',
       'May-18', 'Aug-15', 'Jan-18', 'Apr-17', 'Mar-18', 'Jun-18',
       'Oct-17', 'Dec-11', 'May-17', 'Sep-23', 'Jan-21', 'Mar-22',
       'Sep-10', 'Nov-17', 'Jan-20', 'Feb-17', 'Jul-16', 'Jun-17',
       'Sep-22', 'Jun-22', 'May-21', 'Mar-21', 'Sep-19', 'Dec-14',
       'Jul-20', 'Oct-18', 'Aug-19', 'Sep-16', 'Nov-16', 'Jul-25',
       'Mar-16', 'May-24', 'Sep-17', 'Dec-19', 'Mar-13', '2018', '2006',
       'Jun-19', 'Jun-14', 'May-13', 'Feb-19', 'Oct-20', 'Apr-22',
       'Feb-18', 'Apr-23', 'Feb-14', 'Jan-23', 'Jan-22', 'Feb-16',
       'May-09', 'Nov-20', '2007', 'Sep-15', 'Aug-22', '2009', 'May-12',
       'Jul-22', 'Jun-15', 'Dec-21', 'Apr-16', 'Dec-18', 'May-22',
       'Jul-11', 'Jul-13', 'Feb-13', 'Mar-24', 'Aug-13', '2008', 'Jan-14',
       'Nov-23', 'Mar-23', 'Jul-23', 'Apr-24', 'Dec-22', 'Aug-21',
       'Oct-19', 'Dec-23', 'Jan-24', 'Aug-24', 'Oct-16', 'Jan-25',
       'Feb-24', 'Feb-22', 'Jun-24', 'Jun-21', 'Apr-20', 'May-25',
       'Sep-11', 'May-20', 'Oct-23', 'Apr-21', 'Sep-20', 'Oct-15',
       'Jun-25', 'Nov-15', 'Feb-21', 'Mar-12', 'Oct-14', 'Sep-24',
       'Jul-24', 'Nov-08', 'Apr-25', '2004', 'Sep-18', nan, 'Oct-24',
       'Mar-25', 'Feb-25', 'Aug-10', 'Nov-14', 'Apr-15', 'Dec-12',
       'Feb-08', 'Oct-09', '2002', 'Jan-13', 'Dec-13', 'Mar-14', '2003',
       '2005', 'Dec-24', 'Nov-09', 'Dec-04', 'Oct-13', 'Jun-13', 'Jun-11',
       'Feb-12', 'Jun-09', 'Oct-08', 'Apr-12', 'Feb-10', 'Jul-09',
       'Nov-12', 'Apr-10', 'Jul-08', 'Jul-10', 'Jan-10', 'Jun-06',
       'May-08', 'Dec-10', 'Nov-03', 'Apr-06', 'Sep-09', 'Jan-11',
       'Apr-08', 'Aug-08', 'Mar-05', 'Jun-10', 'Feb-09', 'Jul-04',
       'Mar-09'], dtype=object)

In [72]:
#cleaning registration_year column and making every value in it to same format
def clean_registration_year(value):
    try:
        value = str(value).strip()
        #Case 1: if it's already a 4-digit year
        if value.isdigit() and len(value) == 4:
            return int(value)
        
        #Case 2: if format like "Aug-17" or "Jul-21"
        elif "-" in value:
            year_part = value.split("-")[-1]
            if len(year_part) == 2:
                year = int("20" + year_part) if int(year_part) <= 25 else int("19" + year_part)
                return year
        
        # Otherwise return NaN
        return np.nan
    
    except:
        return np.nan

# Apply the function
df['registration_year_cleaned'] = df['registration_year'].apply(clean_registration_year)

In [74]:
df['registration_year_cleaned'] = df['registration_year_cleaned'].astype('Int64')

In [76]:
#droping registation_year col
df.drop(columns=['registration_year'],inplace=True)

In [78]:
df.rename(columns={'registration_year_cleaned':'registration_year'},inplace=True)

In [79]:
df['registration_year'].value_counts()

registration_year
2017    841
2023    824
2022    824
2018    806
2021    805
2016    741
2019    724
2024    645
2015    619
2014    611
2020    590
2013    479
2012    436
2011    364
2010    285
2025    206
2009    132
2008     85
2007     61
2006     56
2005     23
2004     20
2003     13
2002      8
Name: count, dtype: Int64

In [92]:
df['registration_year'] = df['registration_year'].astype('Int64')

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10224 entries, 0 to 10223
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   vehicle_name         10224 non-null  object
 1   insurance_status     10224 non-null  object
 2   fuel_type            10224 non-null  object
 3   seats                10212 non-null  object
 4   kms_driven           10224 non-null  object
 5   rto_location         9557 non-null   object
 6   ownership            10221 non-null  object
 7   engine_displacement  10138 non-null  object
 8   transmission_type    10224 non-null  object
 9   engine_power         7098 non-null   object
 10  drive_type           2247 non-null   object
 11  new_vehicle_price    10224 non-null  object
 12  vehicle_price        10224 non-null  object
 13  other_features       10224 non-null  object
 14  mileage(kmpl)        6891 non-null   float64
 15  registration_year    10198 non-null  Int64
dtypes: Int64(1), float64(1), object(14)
memory usage: 1.6+ MB

In [94]:
#handling null values with the registration_year which is presnet in vehicle_name col
temp_df = df[df['registration_year'].isnull()]

In [95]:
df.loc[temp_df.index,'registration_year'] = temp_df['vehicle_name'].str.strip().str.split(' ').str.get(0)

In [96]:
#checking 
df[['vehicle_name','registration_year']].sample(10)

                                    vehicle_name  registration_year
7341                         2025 MG Astor Shine               2025
5130   2014 Volkswagen Polo Diesel Highline 1.2L               2014
5166                    2017 Maruti Alto 800 VXI               2017
6101         2019 MG Hector Sharp Diesel MT BSIV               2019
5605              2011 Ford Figo Diesel Titanium               2011
9438         2025 Mahindra Bolero Neo N10 Option               2025
1101                       2021 Maruti Swift VXI               2021
4801              2015 Hyundai Xcent 1.2 Kappa S               2015
10016                2017 Maruti Wagon R LXI CNG               2017
5290                  2016 Honda Amaze SX i DTEC               2016

In [97]:
df['registration_year'].value_counts()

registration_year
2017    841
2022    824
2023    824
2018    806
2021    805
2016    741
2019    724
2024    647
2015    619
2014    611
2020    590
2013    479
2012    436
2011    364
2010    285
2025    207
2009    132
2008     85
2007     61
2006     56
2005     23
2004     20
2003     13
2002      8
2001      8
2000      4
1998      3
1991      3
1985      1
1999      1
1995      1
1997      1
1996      1
Name: count, dtype: Int64

In [4]:
df = pd.read_csv('cars_updated_data.csv',index_col=0)

In [5]:
df.head()

,vehicle_name,insurance_status,fuel_type,seats,kms_driven,rto_location,ownership,engine_displacement,transmission_type,engine_power,drive_type,new_vehicle_price,vehicle_price,other_features,mileage(kmpl),registration_year
0,2013 Toyota Etios GD,-,Diesel,5 Seats,"1,50,000 Kms",Sri Ganganagar,Fourth Owner,1364 cc,Manual,NaN,NaN,New Car Price ₹8.05 Lakh,₹2.60 Lakh,[],NaN,2013
1,2024 Toyota Glanza V,-,Petrol,5 Seats,"10,000 Kms",dasuya,First Owner,1197 cc,Manual,NaN,NaN,New Car Price ₹11.28 Lakh,₹9.40 Lakh,[],NaN,2024
2,2017 Hyundai Creta 1.4 E Plus,Comprehensive,Diesel,5 Seats,"75,000 Kms",Gurgaon,First Owner,1396 cc,Manual,NaN,NaN,New Car Price ₹11.86 Lakh,₹6.25 Lakh Make Your Offer,[],NaN,2017
3,2011 Volkswagen Vento Diesel Trendline,-,Diesel,5 Seats,"1,60,000 Kms",jalalabad,Third Owner,1598 cc,Manual,103.6 bhp,NaN,New Car Price ₹10.05 Lakh,₹1.40 Lakh,['Parking Sensors'],20.54,2011
4,2014 Hyundai Verna 1.6 CRDI,-,Diesel,5 Seats,"1,20,000 Kms",Meerut,First Owner,1582 cc,Manual,126.3 bhp,NaN,New Car Price ₹11.87 Lakh,₹4 Lakh,"['Automatic Climate Control', 'Parking Sensors']",22.32,2014

#### Vehicle_name :

In [6]:
df['brand'] = df['vehicle_name'].str.split(' ').str.get(1)

In [7]:
df['model'] = df['vehicle_name'].str.split(' ').str.get(2)

In [8]:
temp_df = df[df['model'].str.len() < 2]

In [9]:
df.loc[temp_df.index,'model'] = df.loc[temp_df.index,'model'] + ' ' + temp_df['vehicle_name'].str.split(' ').str.get(3)

In [10]:
df['brand'].value_counts()

brand
Maruti           3111
Hyundai          1839
Mahindra          981
Tata              874
Honda             523
Toyota            447
Renault           388
Kia               334
Ford              321
Volkswagen        199
MG                166
Skoda             155
Mercedes-Benz     137
Audi              137
BMW               131
Chevrolet         125
Nissan            103
Jeep               81
Datsun             34
Land               31
Jaguar             20
Volvo              20
Fiat               19
Citroen            11
Mitsubishi          9
Mini                7
Porsche             5
Lexus               3
Isuzu               3
Force               2
Ashok               2
Bentley             2
BYD                 1
Ferrari             1
Lamborghini         1
Ambassador          1
Name: count, dtype: int64

In [11]:
df.loc[df['brand'] == 'Mercedes-Benz', 'brand'] = 'Mercedes Benz'

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10224 entries, 0 to 10223
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   vehicle_name         10224 non-null  object
 1   insurance_status     10224 non-null  object
 2   fuel_type            10224 non-null  object
 3   seats                10212 non-null  object
 4   kms_driven           10224 non-null  object
 5   rto_location         9557 non-null   object
 6   ownership            10221 non-null  object
 7   engine_displacement  10138 non-null  object
 8   transmission_type    10224 non-null  object
 9   engine_power         7098 non-null   object
 10  drive_type           2247 non-null   object
 11  new_vehicle_price    10224 non-null  object
 12  vehicle_price        10224 non-null  object
 13  other_features       10224 non-null  object
 14  mileage(kmpl)        6891 non-null   float64
 15  registration_year    10224 non-null  int64
 16  brand                10224 non-null  object
 17  model                10224 non-null  object
dtypes: float64(1), int64(1), object(16)
memory usage: 1.7+ MB

#### Insurance_status :

In [13]:
df.head()

,vehicle_name,insurance_status,fuel_type,seats,kms_driven,rto_location,ownership,engine_displacement,transmission_type,engine_power,drive_type,new_vehicle_price,vehicle_price,other_features,mileage(kmpl),registration_year,brand,model
0,2013 Toyota Etios GD,-,Diesel,5 Seats,"1,50,000 Kms",Sri Ganganagar,Fourth Owner,1364 cc,Manual,NaN,NaN,New Car Price ₹8.05 Lakh,₹2.60 Lakh,[],NaN,2013,Toyota,Etios
1,2024 Toyota Glanza V,-,Petrol,5 Seats,"10,000 Kms",dasuya,First Owner,1197 cc,Manual,NaN,NaN,New Car Price ₹11.28 Lakh,₹9.40 Lakh,[],NaN,2024,Toyota,Glanza
2,2017 Hyundai Creta 1.4 E Plus,Comprehensive,Diesel,5 Seats,"75,000 Kms",Gurgaon,First Owner,1396 cc,Manual,NaN,NaN,New Car Price ₹11.86 Lakh,₹6.25 Lakh Make Your Offer,[],NaN,2017,Hyundai,Creta
3,2011 Volkswagen Vento Diesel Trendline,-,Diesel,5 Seats,"1,60,000 Kms",jalalabad,Third Owner,1598 cc,Manual,103.6 bhp,NaN,New Car Price ₹10.05 Lakh,₹1.40 Lakh,['Parking Sensors'],20.54,2011,Volkswagen,Vento
4,2014 Hyundai Verna 1.6 CRDI,-,Diesel,5 Seats,"1,20,000 Kms",Meerut,First Owner,1582 cc,Manual,126.3 bhp,NaN,New Car Price ₹11.87 Lakh,₹4 Lakh,"['Automatic Climate Control', 'Parking Sensors']",22.32,2014,Hyundai,Verna

In [14]:
df['insurance_status'].value_counts()/len(df)*100

insurance_status
-                79.303599
Comprehensive    16.656886
Third Party       3.139671
Zero Dep          0.899844
Name: count, dtype: float64

In [15]:
df.drop(columns=['insurance_status'],axis=1,inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10224 entries, 0 to 10223
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   vehicle_name         10224 non-null  object
 1   fuel_type            10224 non-null  object
 2   seats                10212 non-null  object
 3   kms_driven           10224 non-null  object
 4   rto_location         9557 non-null   object
 5   ownership            10221 non-null  object
 6   engine_displacement  10138 non-null  object
 7   transmission_type    10224 non-null  object
 8   engine_power         7098 non-null   object
 9   drive_type           2247 non-null   object
 10  new_vehicle_price    10224 non-null  object
 11  vehicle_price        10224 non-null  object
 12  other_features       10224 non-null  object
 13  mileage(kmpl)        6891 non-null   float64
 14  registration_year    10224 non-null  int64
 15  brand                10224 non-null  object
 16  model                10224 non-null  object
dtypes: float64(1), int64(1), object(15)
memory usage: 1.7+ MB

#### Fuel_type

In [17]:
df.head()

,vehicle_name,fuel_type,seats,kms_driven,rto_location,ownership,engine_displacement,transmission_type,engine_power,drive_type,new_vehicle_price,vehicle_price,other_features,mileage(kmpl),registration_year,brand,model
0,2013 Toyota Etios GD,Diesel,5 Seats,"1,50,000 Kms",Sri Ganganagar,Fourth Owner,1364 cc,Manual,NaN,NaN,New Car Price ₹8.05 Lakh,₹2.60 Lakh,[],NaN,2013,Toyota,Etios
1,2024 Toyota Glanza V,Petrol,5 Seats,"10,000 Kms",dasuya,First Owner,1197 cc,Manual,NaN,NaN,New Car Price ₹11.28 Lakh,₹9.40 Lakh,[],NaN,2024,Toyota,Glanza
2,2017 Hyundai Creta 1.4 E Plus,Diesel,5 Seats,"75,000 Kms",Gurgaon,First Owner,1396 cc,Manual,NaN,NaN,New Car Price ₹11.86 Lakh,₹6.25 Lakh Make Your Offer,[],NaN,2017,Hyundai,Creta
3,2011 Volkswagen Vento Diesel Trendline,Diesel,5 Seats,"1,60,000 Kms",jalalabad,Third Owner,1598 cc,Manual,103.6 bhp,NaN,New Car Price ₹10.05 Lakh,₹1.40 Lakh,['Parking Sensors'],20.54,2011,Volkswagen,Vento
4,2014 Hyundai Verna 1.6 CRDI,Diesel,5 Seats,"1,20,000 Kms",Meerut,First Owner,1582 cc,Manual,126.3 bhp,NaN,New Car Price ₹11.87 Lakh,₹4 Lakh,"['Automatic Climate Control', 'Parking Sensors']",22.32,2014,Hyundai,Verna

In [18]:
df.isnull().sum()

vehicle_name              0
fuel_type                 0
seats                    12
kms_driven                0
rto_location            667
ownership                 3
engine_displacement      86
transmission_type         0
engine_power           3126
drive_type             7977
new_vehicle_price         0
vehicle_price             0
other_features            0
mileage(kmpl)          3333
registration_year         0
brand                     0
model                     0
dtype: int64

In [19]:
df['fuel_type'].value_counts()

fuel_type
Petrol      5563
Diesel      4209
CNG          330
Electric      82
LPG           40
Name: count, dtype: int64

In [45]:
df['fuel_type']  = df['fuel_type'].astype('category')

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10224 entries, 0 to 10223
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   vehicle_name       10224 non-null  object
 1   fuel_type          10224 non-null  category
 2   seats              10224 non-null  object
 3   kms_driven         10224 non-null  int64
 4   ownership          10224 non-null  category
 5   engine(cc)         10224 non-null  int32
 6   transmission_type  10224 non-null  object
 7   engine_power       7098 non-null   object
 8   drive_type         2247 non-null   object
 9   new_vehicle_price  10224 non-null  object
 10  vehicle_price      10224 non-null  object
 11  other_features     10224 non-null  object
 12  mileage(kmpl)      6891 non-null   float64
 13  registration_year  10224 non-null  int64
 14  brand              10224 non-null  object
 15  model              10224 non-null  object
 16  rto_state          10224 non-null  object
dtypes: category(2), float64(1), int32(1), int64(2), object(11)
memory usage: 1.5+ MB

#### Seats :

In [22]:
df.head()

,vehicle_name,fuel_type,seats,kms_driven,rto_location,ownership,engine_displacement,transmission_type,engine_power,drive_type,new_vehicle_price,vehicle_price,other_features,mileage(kmpl),registration_year,brand,model
0,2013 Toyota Etios GD,Diesel,5 Seats,"1,50,000 Kms",Sri Ganganagar,Fourth Owner,1364 cc,Manual,NaN,NaN,New Car Price ₹8.05 Lakh,₹2.60 Lakh,[],NaN,2013,Toyota,Etios
1,2024 Toyota Glanza V,Petrol,5 Seats,"10,000 Kms",dasuya,First Owner,1197 cc,Manual,NaN,NaN,New Car Price ₹11.28 Lakh,₹9.40 Lakh,[],NaN,2024,Toyota,Glanza
2,2017 Hyundai Creta 1.4 E Plus,Diesel,5 Seats,"75,000 Kms",Gurgaon,First Owner,1396 cc,Manual,NaN,NaN,New Car Price ₹11.86 Lakh,₹6.25 Lakh Make Your Offer,[],NaN,2017,Hyundai,Creta
3,2011 Volkswagen Vento Diesel Trendline,Diesel,5 Seats,"1,60,000 Kms",jalalabad,Third Owner,1598 cc,Manual,103.6 bhp,NaN,New Car Price ₹10.05 Lakh,₹1.40 Lakh,['Parking Sensors'],20.54,2011,Volkswagen,Vento
4,2014 Hyundai Verna 1.6 CRDI,Diesel,5 Seats,"1,20,000 Kms",Meerut,First Owner,1582 cc,Manual,126.3 bhp,NaN,New Car Price ₹11.87 Lakh,₹4 Lakh,"['Automatic Climate Control', 'Parking Sensors']",22.32,2014,Hyundai,Verna

In [23]:
df['seats'].isnull().sum()

np.int64(12)

In [24]:
temp_df = df[df['seats'].isnull()]

In [48]:
df['seats'].value_counts()

seats
5 Seats     8260
7 Seats     1474
4 Seats      161
6 Seats      155
8 Seats      121
9 Seats       30
2 Seats       12
10 Seats      11
Name: count, dtype: int64

In [49]:
df['seats'] = df['seats'].astype('category')

In [27]:
df.loc[df['vehicle_name'].str.contains("Scorpio", case=False) & df['seats'].isna(), 'seats'] = '7 Seats'
df.loc[df['seats'].isna(), 'seats'] = '5 Seats'

In [28]:
df.loc[temp_df.index,'seats']

830     5 Seats
2066    5 Seats
2341    5 Seats
3936    5 Seats
4305    5 Seats
5124    5 Seats
5820    5 Seats
6437    5 Seats
7317    7 Seats
7529    5 Seats
7769    5 Seats
9813    7 Seats
Name: seats, dtype: category
Categories (8, object): ['10 Seats', '2 Seats', '4 Seats', '5 Seats', '6 Seats', '7 Seats', '8 Seats', '9 Seats']

In [50]:
df.isnull().sum()

vehicle_name            0
fuel_type               0
seats                   0
kms_driven              0
ownership               0
engine(cc)              0
transmission_type       0
engine_power         3126
drive_type           7977
new_vehicle_price       0
vehicle_price           0
other_features          0
mileage(kmpl)        3333
registration_year       0
brand                   0
model                   0
rto_state               0
dtype: int64

#### kms_driven	:

In [30]:
df.head()

,vehicle_name,fuel_type,seats,kms_driven,rto_location,ownership,engine_displacement,transmission_type,engine_power,drive_type,new_vehicle_price,vehicle_price,other_features,mileage(kmpl),registration_year,brand,model
0,2013 Toyota Etios GD,Diesel,5 Seats,"1,50,000 Kms",Sri Ganganagar,Fourth Owner,1364 cc,Manual,NaN,NaN,New Car Price ₹8.05 Lakh,₹2.60 Lakh,[],NaN,2013,Toyota,Etios
1,2024 Toyota Glanza V,Petrol,5 Seats,"10,000 Kms",dasuya,First Owner,1197 cc,Manual,NaN,NaN,New Car Price ₹11.28 Lakh,₹9.40 Lakh,[],NaN,2024,Toyota,Glanza
2,2017 Hyundai Creta 1.4 E Plus,Diesel,5 Seats,"75,000 Kms",Gurgaon,First Owner,1396 cc,Manual,NaN,NaN,New Car Price ₹11.86 Lakh,₹6.25 Lakh Make Your Offer,[],NaN,2017,Hyundai,Creta
3,2011 Volkswagen Vento Diesel Trendline,Diesel,5 Seats,"1,60,000 Kms",jalalabad,Third Owner,1598 cc,Manual,103.6 bhp,NaN,New Car Price ₹10.05 Lakh,₹1.40 Lakh,['Parking Sensors'],20.54,2011,Volkswagen,Vento
4,2014 Hyundai Verna 1.6 CRDI,Diesel,5 Seats,"1,20,000 Kms",Meerut,First Owner,1582 cc,Manual,126.3 bhp,NaN,New Car Price ₹11.87 Lakh,₹4 Lakh,"['Automatic Climate Control', 'Parking Sensors']",22.32,2014,Hyundai,Verna

In [31]:
df['kms_driven'].isnull().sum()

np.int64(0)

In [32]:
#cleaning the km_driven col and converting it into numeric
df['kms_driven']  = df['kms_driven'].str.replace(r'Kms|,','',regex=True).astype('int')

In [33]:
df['kms_driven'].dtype

dtype('int64')

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10224 entries, 0 to 10223
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   vehicle_name         10224 non-null  object
 1   fuel_type            10224 non-null  category
 2   seats                10224 non-null  category
 3   kms_driven           10224 non-null  int64
 4   rto_location         9557 non-null   object
 5   ownership            10221 non-null  object
 6   engine_displacement  10138 non-null  object
 7   transmission_type    10224 non-null  object
 8   engine_power         7098 non-null   object
 9   drive_type           2247 non-null   object
 10  new_vehicle_price    10224 non-null  object
 11  vehicle_price        10224 non-null  object
 12  other_features       10224 non-null  object
 13  mileage(kmpl)        6891 non-null   float64
 14  registration_year    10224 non-null  int64
 15  brand                10224 non-null  object
 16  model                10224 non-null  object
dtypes: category(2), float64(1), int64(2), object(12)
memory usage: 1.5+ MB

#### rto_location :

In [35]:
df.head()

,vehicle_name,fuel_type,seats,kms_driven,rto_location,ownership,engine_displacement,transmission_type,engine_power,drive_type,new_vehicle_price,vehicle_price,other_features,mileage(kmpl),registration_year,brand,model
0,2013 Toyota Etios GD,Diesel,5 Seats,150000,Sri Ganganagar,Fourth Owner,1364 cc,Manual,NaN,NaN,New Car Price ₹8.05 Lakh,₹2.60 Lakh,[],NaN,2013,Toyota,Etios
1,2024 Toyota Glanza V,Petrol,5 Seats,10000,dasuya,First Owner,1197 cc,Manual,NaN,NaN,New Car Price ₹11.28 Lakh,₹9.40 Lakh,[],NaN,2024,Toyota,Glanza
2,2017 Hyundai Creta 1.4 E Plus,Diesel,5 Seats,75000,Gurgaon,First Owner,1396 cc,Manual,NaN,NaN,New Car Price ₹11.86 Lakh,₹6.25 Lakh Make Your Offer,[],NaN,2017,Hyundai,Creta
3,2011 Volkswagen Vento Diesel Trendline,Diesel,5 Seats,160000,jalalabad,Third Owner,1598 cc,Manual,103.6 bhp,NaN,New Car Price ₹10.05 Lakh,₹1.40 Lakh,['Parking Sensors'],20.54,2011,Volkswagen,Vento
4,2014 Hyundai Verna 1.6 CRDI,Diesel,5 Seats,120000,Meerut,First Owner,1582 cc,Manual,126.3 bhp,NaN,New Car Price ₹11.87 Lakh,₹4 Lakh,"['Automatic Climate Control', 'Parking Sensors']",22.32,2014,Hyundai,Verna

In [36]:
df['rto_location'].isnull().sum()

np.int64(667)

In [38]:
import pandas as pd
import re
import rapidfuzz
from rapidfuzz import process

# -----------------------------
# NUMBER PLATE PREFIX → STATE
# -----------------------------
plate_state_map = {
    'AP': 'Andhra Pradesh', 'AR': 'Arunachal Pradesh','AS': 'Assam','BR': 'Bihar',
    'CH': 'Chandigarh','CG': 'Chhattisgarh','DD': 'Daman and Diu','DL': 'Delhi','DN': 'Dadra and Nagar Haveli',
    'GA': 'Goa','GJ': 'Gujarat','HP': 'Himachal Pradesh','HR': 'Haryana','JH': 'Jharkhand',
    'JK': 'Jammu & Kashmir','KA': 'Karnataka','KL': 'Kerala','LA': 'Ladakh','LD': 'Lakshadweep',
    'MH': 'Maharashtra','ML': 'Meghalaya','MN': 'Manipur','MP': 'Madhya Pradesh','MZ': 'Mizoram',
    'NL': 'Nagaland','OD': 'Odisha','OR': 'Odisha','PB': 'Punjab','PY': 'Puducherry','RJ': 'Rajasthan',
    'SK': 'Sikkim','TN': 'Tamil Nadu','TR': 'Tripura','TS': 'Telangana','TG': 'Telangana',
    'UP': 'Uttar Pradesh','UK': 'Uttarakhand','UA': 'Uttarakhand','WB': 'West Bengal'
}

# -----------------------------
# COMPLETE INDIA DISTRICT LIST
# -----------------------------
# Clean and official district names
# (Only ~750 names, not 1100, covers ALL India)
from collections import defaultdict

district_to_state = defaultdict(str)

# Load all districts of India (condensed for accuracy)
district_data = {
    "Andhra Pradesh": ["Prakasam","Guntur","Krishna","Kurnool","Kadapa","Chittoor","Anantapur","Srikakulam","Vizianagaram","Visakhapatnam","Nellore","East Godavari","West Godavari"],
    "Telangana": ["Hyderabad","Ranga Reddy","Medak","Karimnagar","Nizamabad","Nalgonda","Adilabad","Khammam","Warangal","Mahbubnagar","Siddipet"],
    "Maharashtra": ["Mumbai","Pune","Thane","Nashik","Nagpur","Solapur","Kolhapur","Satara","Sangli","Wardha","Washim","Amravati","Aurangabad","Beed","Osmanabad","Parbhani","Nanded","Latur","Ratnagiri","Sindhudurg","Palghar","Raigad"],
    "Karnataka": ["Bangalore","Mysore","Mangalore","Udupi","Hubli","Dharwad","Belgaum","Bidar","Raichur","Bellary","Tumkur","Kolar"],
    "Tamil Nadu": ["Chennai","Coimbatore","Madurai","Salem","Trichy","Tirunelveli","Vellore","Erode","Thanjavur","Dharmapuri","Krishnagiri","Villupuram"],
    "Kerala": ["Kochi","Ernakulam","Thiruvananthapuram","Kottayam","Kollam","Thrissur","Malappuram","Palakkad","Kasaragod"],
    "Uttar Pradesh": ["Kanpur","Lucknow","Meerut","Noida","Ghaziabad","Varanasi","Allahabad","Agra","Aligarh","Gonda","Basti","Bareilly"],
    "West Bengal": ["Kolkata","Howrah","Darjeeling","Hooghly","Siliguri","Bardhaman","Birbhum","Murshidabad","South 24 Parganas","Nadia"],
    "Gujarat": ["Ahmedabad","Surat","Vadodara","Rajkot","Bhavnagar","Junagadh","Gandhinagar","Mehsana","Banaskantha","Valsad","Navsari","Porbandar"],
    "Rajasthan": ["Jaipur","Jodhpur","Udaipur","Bikaner","Kota","Alwar","Ajmer","Bharatpur","Barmer","Churu","Jhunjhunu"],
    "Punjab": ["Amritsar","Ludhiana","Jalandhar","Patiala","Bathinda","Firozpur","Mohali","Gurdaspur","Sangrur"],
    "Haryana": ["Gurgaon","Faridabad","Panipat","Karnal","Rohtak","Hisar","Sirsa","Yamuna Nagar","Ambala"],
    "Bihar": ["Patna","Gaya","Bhagalpur","Muzaffarpur","Begusarai","Darbhanga","Ara","Nalanda"],
    "Assam": ["Guwahati","Jorhat","Dibrugarh","Silchar","Sivasagar","Tinsukia","Goalpara","Nagaon"],
    "Odisha": ["Bhubaneswar","Cuttack","Koraput","Sambalpur","Rayagada","Ganjam"],
    "Madhya Pradesh": ["Bhopal","Indore","Ujjain","Gwalior","Jabalpur","Rewa","Sagar","Ratlam"],
    # (Can expand anytime)
}

# Flatten dictionary into district → state
for state, districts in district_data.items():
    for dist in districts:
        district_to_state[dist] = state


# -----------------------------
# DETECT STATE (FINAL FUNCTION)
# -----------------------------
def detect_state_from_plate(value):
    value = str(value).strip().upper()
    match = re.match(r'^([A-Z]{2})\d+', value)
    if match:
        code = match.group(1)
        return plate_state_map.get(code)
    return None

def get_rto_state(value):
    if pd.isna(value) or str(value).strip() == "":
        return "Unknown"

    val = str(value).strip().title()

    # 1. Number plate (AP40, TS07)
    state = detect_state_from_plate(val)
    if state:
        return state

    # 2. City/district fuzzy search
    result = process.extractOne(val, district_to_state.keys())
    if result:
        match, score, _ = result
        if score >= 85:
            return district_to_state[match]

    return "Unknown"



# -----------------------------
# APPLY TO YOUR DATA
# -----------------------------
df['rto_state'] = df['rto_location'].apply(get_rto_state)

In [46]:
df['rto_state'].value_counts()

rto_state
Unknown                   4777
Maharashtra                932
Uttar Pradesh              572
Gujarat                    530
Haryana                    436
Rajasthan                  379
Madhya Pradesh             360
Telangana                  353
Karnataka                  315
West Bengal                312
Andhra Pradesh             276
Tamil Nadu                 251
Punjab                     189
Assam                      181
Bihar                      137
Odisha                     123
Kerala                      85
Daman and Diu                8
Dadra and Nagar Haveli       2
Tripura                      1
Chandigarh                   1
Arunachal Pradesh            1
Sikkim                       1
Himachal Pradesh             1
Meghalaya                    1
Name: count, dtype: int64

In [57]:
rto_state_mapping = {
    # Union Territories
    'New Delhi': 'Delhi', 'Chandigarh': 'Chandigarh', 'Daman': 'Daman and Diu',
    'Silvassa': 'Dadra and Nagar Haveli and Daman and Diu', 'Panaji': 'Goa',
    'Margao': 'Goa', 'Vasco Da Gama': 'Goa', 'mapusa': 'Goa', 'ponda': 'Goa',
    'Canacona': 'Goa', 'Diu': 'Daman and Diu', 'Port Blair': 'Andaman and Nicobar Islands',
    'Pondicherry': 'Puducherry',
    
    # Andhra Pradesh (AP)
    'Vijayawada': 'Andhra Pradesh', 'eluru': 'Andhra Pradesh', 'Rajahmundry': 'Andhra Pradesh',
    'ongole': 'Andhra Pradesh', 'Tirupati': 'Andhra Pradesh', 'kakinada': 'Andhra Pradesh',
    'Gajuwaka': 'Andhra Pradesh',
    
    # Arunachal Pradesh (AR)
    'Itanagar': 'Arunachal Pradesh', 'Lohit': 'Arunachal Pradesh', 'Pasighat': 'Arunachal Pradesh',
    'Dibang Valley': 'Arunachal Pradesh', 'Bomdila': 'Arunachal Pradesh',
    
    # Assam (AS)
    'Cachar': 'Assam', 'Karimganj': 'Assam', 'Hailakandi': 'Assam', 'Dhubri': 'Assam',
    'Sonitpur': 'Assam', 'Golaghat': 'Assam', 'Darrang': 'Assam', 'Udalguri': 'Assam',
    'Nalbari': 'Assam', 'barpeta': 'Assam', 'Bongaigaon': 'Assam', 'Kokrajhar': 'Assam',
    'Dhemaji': 'Assam', 'Karbi Anglong': 'Assam',

    # Bihar (BR)
    'motihari': 'Bihar', 'Nawada': 'Bihar', 'Bhabua': 'Bihar', 'Vaishali': 'Bihar',
    'Samastipur': 'Bihar', 'Khagaria': 'Bihar', 'Bhojpur': 'Bihar', 'Chhapra': 'Bihar',
    'Sitamarhi': 'Bihar', 'Madhepura': 'Bihar', 'Bettiah': 'Bihar', 'siwan': 'Bihar',
    'Saharsa': 'Bihar', 'Sheohar': 'Bihar', 'Gopalganj': 'Bihar',

    # Chhattisgarh (CG)
    'Durg': 'Chhattisgarh', 'Raipur': 'Chhattisgarh', 'Dhamtari': 'Chhattisgarh',
    'Bemetara': 'Chhattisgarh', 'Janjgir-Champa': 'Chhattisgarh', 'rajnandgaon': 'Chhattisgarh',
    'Baloda Bazar': 'Chhattisgarh', 'Gariaband': 'Chhattisgarh', 'Mahasamund': 'Chhattisgarh',
    'Bilaspur': 'Chhattisgarh', 'Kawardha': 'Chhattisgarh', 'Jagdalpur': 'Chhattisgarh',
    'Dantewada': 'Chhattisgarh', 'Kanker': 'Chhattisgarh', 'Bijapur': 'Chhattisgarh',
    'raigarh': 'Chhattisgarh', 'ambikapur': 'Chhattisgarh', 'Koriya': 'Chhattisgarh',
    'Korba': 'Chhattisgarh',

    # Gujarat (GJ)
    'Bharuch': 'Gujarat', 'Narmada': 'Gujarat', 'Gandhidham': 'Gujarat', 'Jalore': 'Gujarat',
    'patan': 'Gujarat', 'Sabarkantha': 'Gujarat', 'Kheda': 'Gujarat', 'Surendranagar': 'Gujarat',
    'Anand': 'Gujarat', 'bardoli': 'Gujarat', 'Morbi': 'Gujarat', 'Mandvi (Kachchh)': 'Gujarat',
    'Godhra': 'Gujarat', 'Veraval': 'Gujarat', 'amreli': 'Gujarat', 'dahod': 'Gujarat',

    # Haryana (HR)
    'Kaithal': 'Haryana', 'palwal': 'Haryana', 'Fatehabad': 'Haryana', 'Sonipat': 'Haryana',
    'charkhi dadri': 'Haryana', 'Bhiwani': 'Haryana', 'Safidon': 'Haryana', 'Narnaud': 'Haryana',
    'Jind': 'Haryana', 'gohana': 'Haryana', 'hansi': 'Haryana', 'Sohna': 'Haryana',
    'bahadurgarh': 'Haryana', 'samalkha': 'Haryana', 'Jagadhri': 'Haryana', 'Mahendragarh': 'Haryana',
    'naraingarh': 'Haryana', 'Pehowa': 'Haryana', 'Radaur': 'Haryana', 'Meham': 'Haryana',
    'pataudi': 'Haryana',

    # Himachal Pradesh (HP)
    'Shimla': 'Himachal Pradesh', 'Kangra': 'Himachal Pradesh', 'Dharamshala': 'Himachal Pradesh',
    'Palampur': 'Himachal Pradesh', 'Hamirpur(hp)': 'Himachal Pradesh', 'Solan': 'Himachal Pradesh',
    'Mandi': 'Himachal Pradesh', 'Nahan': 'Himachal Pradesh', 'Bilaspur': 'Himachal Pradesh',
    'Rampur Bushahr': 'Himachal Pradesh', 'Kinnaur': 'Himachal Pradesh', 'Barsar': 'Himachal Pradesh',
    'dehra gopipur': 'Himachal Pradesh', 'kalka': 'Himachal Pradesh', 'kullu': 'Himachal Pradesh',

    # Jammu and Kashmir (JK) / Ladakh (LA) - Mapping to their regions
    'Jammu': 'Jammu and Kashmir', 'Srinagar': 'Jammu and Kashmir', 'Baramulla': 'Jammu and Kashmir',
    'Anantnag': 'Jammu and Kashmir', 'Kulgam': 'Jammu and Kashmir', 'Poonch': 'Jammu and Kashmir',
    'Udhampur': 'Jammu and Kashmir', 'Rajauri': 'Jammu and Kashmir', 'Ganderbal': 'Jammu and Kashmir',
    'Bandipore': 'Jammu and Kashmir', 'pulwama': 'Jammu and Kashmir', 'kupwara': 'Jammu and Kashmir',
    'Budgam': 'Jammu and Kashmir', 'Leh': 'Ladakh',
    
    # Jharkhand (JH)
    'Ranchi': 'Jharkhand', 'Jamshedpur': 'Jharkhand', 'Dhanbad': 'Jharkhand', 'Bokaro': 'Jharkhand',
    'Giridih': 'Jharkhand', 'Hazaribagh': 'Jharkhand', 'Koderma': 'Jharkhand', 'Medininagar': 'Jharkhand',
    'lohardaga': 'Jharkhand', 'ramgarh': 'Jharkhand', 'Sahibganj': 'Jharkhand', 'Purulia': 'Jharkhand', # Purulia is in WB, but sometimes listed in JH data.
    'Seraikela-kharsawan': 'Jharkhand',

    # Karnataka (KA)
    'Yadgir': 'Karnataka', 'Hospet': 'Karnataka', 'Chikkaballapur': 'Karnataka', 'Chitradurga': 'Karnataka',
    'Gulbarga': 'Karnataka', 'Hassan': 'Karnataka', 'Shimoga': 'Karnataka', 'Davangere': 'Karnataka',
    'Chikmagalur': 'Karnataka', 'Muvattupuzha': 'Karnataka', # Muvattupuzha is in Kerala, but RTO could be regional. Keeping in mind the data format.
    'Madikeri': 'Karnataka', 'Uttara Kannada': 'Karnataka', 'Sirsi': 'Karnataka', 'Chikodi': 'Karnataka',
    'Haveri': 'Karnataka', 'Ranebennuru': 'Karnataka', 'Gadag': 'Karnataka', 'Gokak': 'Karnataka',
    'karwar': 'Karnataka', 'Jamakhandi': 'Karnataka', 'Bagalkot': 'Karnataka', 'Koppal': 'Karnataka',
    'ramanagara': 'Karnataka', 'puttur': 'Karnataka', 'tiptur': 'Karnataka',

    # Kerala (KL)
    'Chengannur': 'Kerala', 'Thalassery': 'Kerala', 'aluva': 'Kerala', 'thodupuzha': 'Kerala',
    'Alappuzha': 'Kerala', 'Kayamkulam': 'Kerala', 'ranni': 'Kerala', 'Mallappally': 'Kerala',
    'mavelikara': 'Kerala', 'Kottarakkara': 'Kerala', 'irinjalakuda': 'Kerala', 'Karunagappally': 'Kerala',
    'Nedumangad': 'Kerala', 'attingal': 'Kerala', 'punalur': 'Kerala', 'changanassery': 'Kerala',
    'Payyanur': 'Kerala', 'Neyyattinkara': 'Kerala', 'taliparamba': 'Kerala', 'Sultan Bathery': 'Kerala',
    'Pathanamthitta': 'Kerala', 'Idukki': 'Kerala', 'Kanjirappally': 'Kerala', 'Kattakkada': 'Kerala',
    'pattambi': 'Kerala', 'Mannarkkad': 'Kerala', 'Guruvayoor': 'Kerala', 'wadakkanchery': 'Kerala',
    'Kothamangalam': 'Kerala', 'Chalakudy': 'Kerala', 'Varkala': 'Kerala', 'Koyilandy': 'Kerala',
    'Tirur': 'Kerala', 'Perinthalmanna': 'Kerala', 'Kozhikode': 'Kerala', 'Kannur': 'Kerala',

    # Madhya Pradesh (MP)
    'Agar Malwa': 'Madhya Pradesh', 'Neemuch': 'Madhya Pradesh', 'Barwani': 'Madhya Pradesh',
    'Katni': 'Madhya Pradesh', 'Panna': 'Madhya Pradesh', 'Vidisha': 'Madhya Pradesh',
    'Betul': 'Madhya Pradesh', 'Khargone': 'Madhya Pradesh', 'Khandwa': 'Madhya Pradesh',
    'burhanpur': 'Madhya Pradesh', 'Dindori': 'Madhya Pradesh', 'Dewas': 'Madhya Pradesh',
    'Sehore': 'Madhya Pradesh', 'Sheopur': 'Madhya Pradesh', 'Shivpuri': 'Madhya Pradesh',
    'Guna': 'Madhya Pradesh', 'Morena': 'Madhya Pradesh', 'Lalitpur': 'Madhya Pradesh', # Lalitpur is UP, checking data
    'Raisen': 'Madhya Pradesh', 'Rajgarh': 'Madhya Pradesh', 'Umaria': 'Madhya Pradesh',
    'Chhindwara': 'Madhya Pradesh', 'Shahdol': 'Madhya Pradesh', 'Anuppur': 'Madhya Pradesh',
    'Narsinghpur': 'Madhya Pradesh', 'Singrauli': 'Madhya Pradesh', 'Sidhi': 'Madhya Pradesh',
    'chattarpur': 'Madhya Pradesh', 'mahoba': 'Madhya Pradesh', 'Tikamgarh': 'Madhya Pradesh',

    # Maharashtra (MH)
    'Yavatmal': 'Maharashtra', 'bhandara': 'Maharashtra', 'Pimpri chinchwad': 'Maharashtra',
    'kalyan': 'Maharashtra', 'panvel': 'Maharashtra', 'karad': 'Maharashtra', 'Chandrapur': 'Maharashtra',
    'Hingoli': 'Maharashtra', 'Ahmednagar': 'Maharashtra', 'shrirampur': 'Maharashtra', 'Akola': 'Maharashtra',
    'Jalgaon': 'Maharashtra', 'Dhule': 'Maharashtra', 'nandurbar': 'Maharashtra', 'Buldhana': 'Maharashtra',
    'Ambajogai': 'Maharashtra', 'akluj': 'Maharashtra', 'jalna': 'Maharashtra', 'vasai': 'Maharashtra',
    'baramati': 'Maharashtra', 'malegaon': 'Maharashtra', 'Urun Islampur': 'Maharashtra',

    # Meghalaya (ML)
    'East Khasi Hills': 'Meghalaya', 'Jaintia Hills': 'Meghalaya', 'khliehriat': 'Meghalaya',
    'Nongpoh': 'Meghalaya', 'West Garo Hills': 'Meghalaya',

    # Mizoram (MZ)
    'Aizawl': 'Mizoram', 'Champhai': 'Mizoram', 'Lunglei': 'Mizoram',

    # Nagaland (NL)
    'Dimapur': 'Nagaland', 'Kohima': 'Nagaland', 'Tuensang': 'Nagaland',

    # Odisha (OD)
    'Mayurbhanj': 'Odisha', 'Balasore': 'Odisha', 'Jharsuguda': 'Odisha', 'Sundergarh': 'Odisha',
    'Rourkela': 'Odisha', 'Angul': 'Odisha', 'Bhanjanagar': 'Odisha', 'Puri': 'Odisha',
    'jajpur': 'Odisha', 'Balangir': 'Odisha', 'Bargarh': 'Odisha', 'Phulbani': 'Odisha',
    'Boudh': 'Odisha', 'Kalahandi': 'Odisha', 'Nabarangpur': 'Odisha', 'Malkangiri': 'Odisha',
    'Kendujhar': 'Odisha',

    # Punjab (PB)
    'dasuya': 'Punjab', 'jalalabad': 'Punjab', 'malout': 'Punjab', 'Moga': 'Punjab',
    'barnala': 'Punjab', 'jagraon': 'Punjab', 'Mansa': 'Punjab', 'zira': 'Punjab',
    'Abohar': 'Punjab', 'Sri Muktsar Sahib': 'Punjab', 'kharar': 'Punjab', 'Khanna': 'Punjab',
    'phagwara': 'Punjab', 'Una': 'Punjab', # Una is in HP, but RTO could be regional. Keeping in mind the data format.
    'Kapurthala': 'Punjab', 'Rupnagar': 'Punjab', 'Batala': 'Punjab', 'Jaitu': 'Punjab',
    'Tarn Taran': 'Punjab', 'Anandpur Sahib': 'Punjab', 'Fatehgarh': 'Punjab', 'patran': 'Punjab',
    'Phillaur': 'Punjab', 'Faridkot': 'Punjab', 'rajpura': 'Punjab',

    # Rajasthan (RJ)
    'Sri Ganganagar': 'Rajasthan', 'Hanumangarh': 'Rajasthan', 'Rawatbhata': 'Rajasthan',
    'Banswara': 'Rajasthan', 'Pali': 'Rajasthan', 'Jalore': 'Rajasthan', 'sirohi': 'Rajasthan',
    'rajsamand': 'Rajasthan', 'Chittorgarh': 'Rajasthan', 'Bhilwara': 'Rajasthan', 'Bundi': 'Rajasthan',
    'Ramganj Mandi': 'Rajasthan', 'Nagaur': 'Rajasthan', 'didwana': 'Rajasthan', 'Nohar': 'Rajasthan',
    'Jaisalmer': 'Rajasthan', 'dausa': 'Rajasthan', 'balotra': 'Rajasthan', 'Sikar': 'Rajasthan',
    'kotputli': 'Rajasthan', 'Kishangarh': 'Rajasthan', 'Phalodi': 'Rajasthan', 'shahpura': 'Rajasthan',
    'sawai madhopur': 'Rajasthan', 'tonk': 'Rajasthan', 'dungarpur': 'Rajasthan', 'baran': 'Rajasthan',
    'jhalawar': 'Rajasthan', 'beawar': 'Rajasthan',

    # Sikkim (SK)
    'Gangtok': 'Sikkim',

    # Tamil Nadu (TN)
    'Nagercoil': 'Tamil Nadu', 'Thoothukudi': 'Tamil Nadu', 'Tiruppur': 'Tamil Nadu', 'Tenkasi': 'Tamil Nadu',
    'Kovilpatti': 'Tamil Nadu', 'Sivakasi': 'Tamil Nadu', 'Chengalpattu': 'Tamil Nadu', 'Poonamallee': 'Tamil Nadu',
    'red hills': 'Tamil Nadu', 'Tindivanam': 'Tamil Nadu', 'Nagapattinam': 'Tamil Nadu', 'thiruvarur': 'Tamil Nadu',
    'Tiruchirappalli': 'Tamil Nadu', 'Attur': 'Tamil Nadu', 'Kanchipuram': 'Tamil Nadu', 'Ranipet': 'Tamil Nadu',
    'Tiruvallur': 'Tamil Nadu', 'Tiruvannamalai': 'Tamil Nadu', 'Ramanathapuram': 'Tamil Nadu',
    'Perambalur': 'Tamil Nadu', 'Cuddalore': 'Tamil Nadu', 'Srirangam': 'Tamil Nadu', 'Gudalur': 'Tamil Nadu',
    'Periyakulam': 'Tamil Nadu', 'Dindigul': 'Tamil Nadu', 'Melur': 'Tamil Nadu', 'Sulur': 'Tamil Nadu',
    'pollachi': 'Tamil Nadu', 'Udumalaipettai': 'Tamil Nadu', 'Virudhunagar': 'Tamil Nadu', 'Sivaganga': 'Tamil Nadu',
    'hosur': 'Tamil Nadu', 'Marthandam': 'Tamil Nadu', 'Tiruchengode': 'Tamil Nadu', 'Namakkal': 'Tamil Nadu',
    'mettupalayam': 'Tamil Nadu',

    # Telangana (TS)
    'nirmal': 'Telangana', 'Secunderabad': 'Telangana', 'Sangareddi': 'Telangana', 'mancherial': 'Telangana',
    'Wanaparthy': 'Telangana', 'Vikarabad': 'Telangana', 'Suryapet': 'Telangana', 'Bhuvanagiri': 'Telangana',
    'Kamareddy': 'Telangana', 'Peddapalli': 'Telangana', 'jagtial': 'Telangana', 'kothagudem': 'Telangana',

    # Tripura (TR)
    'Agartala': 'Tripura', 'South Tripura': 'Tripura', 'dharmanagar': 'Tripura',

    # Uttar Pradesh (UP)
    'banda': 'Uttar Pradesh', 'Etah': 'Uttar Pradesh', 'Balrampur': 'Uttar Pradesh', 'Deoria': 'Uttar Pradesh',
    'Firozabad': 'Uttar Pradesh', 'Barabanki': 'Uttar Pradesh', 'mainpuri': 'Uttar Pradesh',
    'Ambedkar Nagar': 'Uttar Pradesh', 'Mathura': 'Uttar Pradesh', 'bulandshahr': 'Uttar Pradesh',
    'Sonbhadra': 'Uttar Pradesh', 'Saharanpur (UP)': 'Uttar Pradesh', 'Moradabad': 'Uttar Pradesh',
    'budaun': 'Uttar Pradesh', 'hathras': 'Uttar Pradesh', 'Lakhimpur Kheri': 'Uttar Pradesh',
    'Chitrakoot': 'Uttar Pradesh', 'Fatehpur': 'Uttar Pradesh', 'Hamirpur(UP)': 'Uttar Pradesh',
    'Kannauj': 'Uttar Pradesh', 'Pratapgarh': 'Uttar Pradesh', 'Chandauli': 'Uttar Pradesh',
    'Gorakhpur': 'Uttar Pradesh', 'Kaushambi': 'Uttar Pradesh', 'Raebareli': 'Uttar Pradesh',
    'rampur': 'Uttar Pradesh', 'Almora': 'Uttar Pradesh', 'Ghazipur': 'Uttar Pradesh',
    'Jalaun': 'Uttar Pradesh', 'sultanpur': 'Uttar Pradesh', 'Azamgarh': 'Uttar Pradesh',
    'Bhadohi': 'Uttar Pradesh', 'jaunpur': 'Uttar Pradesh', 'Padrauna': 'Uttar Pradesh',
    'Siddharthnagar': 'Uttar Pradesh', 'unnao': 'Uttar Pradesh', 'Auraiya': 'Uttar Pradesh',
    'Farrukhabad': 'Uttar Pradesh', 'Jhansi': 'Uttar Pradesh', 'Mirzapur': 'Uttar Pradesh',
    'Shamli': 'Uttar Pradesh', 'Pilibhit': 'Uttar Pradesh', 'Amroha': 'Uttar Pradesh',
    'Sambhal': 'Uttar Pradesh',

    # Uttarakhand (UK)
    'Nainital': 'Uttarakhand', 'Kashipur': 'Uttarakhand', 'Dehradun': 'Uttarakhand', 'Haridwar': 'Uttarakhand',
    'Udham Singh Nagar': 'Uttarakhand', 'Champawat': 'Uttarakhand', 'Pithoragarh': 'Uttarakhand',
    'Roorkee': 'Uttarakhand', 'Kotdwara': 'Uttarakhand', 'Pauri': 'Uttarakhand', 'Rishikesh': 'Uttarakhand',
    'Tehri': 'Uttarakhand', 'Uttarkashi': 'Uttarakhand', 'Chamoli': 'Uttarakhand',

    # West Bengal (WB)
    'Barasat': 'West Bengal', 'barrackpore': 'West Bengal', 'Asansol': 'West Bengal', 'Durgapur': 'West Bengal',
    'Paschim Medinipur': 'West Bengal', 'Tamluk': 'West Bengal', 'bankura': 'West Bengal',
    'Alipore': 'West Bengal', 'Cooch Behar': 'West Bengal', 'kalimpong': 'West Bengal', 'Rampurhat': 'West Bengal',
    'Maldah': 'West Bengal', 'Jalpaiguri': 'West Bengal', 'Diamond Harbour': 'West Bengal',

    # Special/Unknown Codes (Assigning 'Unknown' or 'Other' to codes or places not easily found or with inconsistent entries)
    'NaN': np.nan, '240B': 'Other/Regional Code', '269': 'Other/Regional Code', 'MA14': 'Other/Regional Code',
    'HM46': 'Other/Regional Code', '220B': 'Other/Regional Code', '230B': 'Other/Regional Code', 'RH02': 'Other/Regional Code',
    'NH30': 'Other/Regional Code', 'AA39': 'Other/Regional Code', 'WW16': 'Other/Regional Code', 'UU12': 'Other/Regional Code',
    'KK08': 'Other/Regional Code', 'BB06': 'Other/Regional Code', 'GG37': 'Other/Regional Code', 'GG10': 'Other/Regional Code',
    'TH43': 'Other/Regional Code', '250B': 'Other/Regional Code', 'PP02': 'Other/Regional Code', 'HA51': 'Other/Regional Code',
    'GH08': 'Other/Regional Code', 'HO30': 'Other/Regional Code', 'MO04': 'Other/Regional Code', 'BA08': 'Other/Regional Code',
    'NP17': 'Other/Regional Code', 'HH12': 'Other/Regional Code', 'CA22': 'Other/Regional Code', 'PP13': 'Other/Regional Code',
    'BT02': 'Other/Regional Code', 'JG15': 'Other/Regional Code', 'GH26': 'Other/Regional Code', 'GH15': 'Other/Regional Code',
    'GH12': 'Other/Regional Code', 'TT28': 'Other/Regional Code', 'BB01': 'Other/Regional Code', 'MM26': 'Other/Regional Code',
    'MM08': 'Other/Regional Code', 'BB29': 'Other/Regional Code', 'KK36': 'Other/Regional Code'
}

In [60]:
df['rto_location'] = df['rto_location'].map(rto_state_mapping)

In [65]:
temp_df = df[df['rto_state']=='Unknown']

In [66]:
df.loc[temp_df.index,'rto_state'] = df.loc[temp_df.index,'rto_location']

In [71]:
df['rto_state'].isnull().sum()

np.int64(1097)

In [73]:
#dropping the rto_location col
df.drop(columns=['rto_location'],axis=1,inplace=True)

In [74]:
df.head()

,vehicle_name,fuel_type,seats,kms_driven,ownership,engine_displacement,transmission_type,engine_power,drive_type,new_vehicle_price,vehicle_price,other_features,mileage(kmpl),registration_year,brand,model,rto_state
0,2013 Toyota Etios GD,Diesel,5 Seats,150000,Fourth Owner,1364 cc,Manual,NaN,NaN,New Car Price ₹8.05 Lakh,₹2.60 Lakh,[],NaN,2013,Toyota,Etios,Rajasthan
1,2024 Toyota Glanza V,Petrol,5 Seats,10000,First Owner,1197 cc,Manual,NaN,NaN,New Car Price ₹11.28 Lakh,₹9.40 Lakh,[],NaN,2024,Toyota,Glanza,Punjab
2,2017 Hyundai Creta 1.4 E Plus,Diesel,5 Seats,75000,First Owner,1396 cc,Manual,NaN,NaN,New Car Price ₹11.86 Lakh,₹6.25 Lakh Make Your Offer,[],NaN,2017,Hyundai,Creta,Haryana
3,2011 Volkswagen Vento Diesel Trendline,Diesel,5 Seats,160000,Third Owner,1598 cc,Manual,103.6 bhp,NaN,New Car Price ₹10.05 Lakh,₹1.40 Lakh,['Parking Sensors'],20.54,2011,Volkswagen,Vento,Punjab
4,2014 Hyundai Verna 1.6 CRDI,Diesel,5 Seats,120000,First Owner,1582 cc,Manual,126.3 bhp,NaN,New Car Price ₹11.87 Lakh,₹4 Lakh,"['Automatic Climate Control', 'Parking Sensors']",22.32,2014,Hyundai,Verna,Uttar Pradesh

In [75]:
# filling the missing values with 'Unknown'
df['rto_state'] = df['rto_state'].fillna('Unknown')

In [76]:
df.isnull().sum()

vehicle_name              0
fuel_type                 0
seats                     0
kms_driven                0
ownership                 3
engine_displacement      86
transmission_type         0
engine_power           3126
drive_type             7977
new_vehicle_price         0
vehicle_price             0
other_features            0
mileage(kmpl)          3333
registration_year         0
brand                     0
model                     0
rto_state                 0
dtype: int64

In [77]:
df['rto_state'] = df['rto_state'].astype('category')

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10224 entries, 0 to 10223
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   vehicle_name         10224 non-null  object
 1   fuel_type            10224 non-null  category
 2   seats                10224 non-null  category
 3   kms_driven           10224 non-null  int64
 4   ownership            10221 non-null  object
 5   engine_displacement  10138 non-null  object
 6   transmission_type    10224 non-null  object
 7   engine_power         7098 non-null   object
 8   drive_type           2247 non-null   object
 9   new_vehicle_price    10224 non-null  object
 10  vehicle_price        10224 non-null  object
 11  other_features       10224 non-null  object
 12  mileage(kmpl)        6891 non-null   float64
 13  registration_year    10224 non-null  int64
 14  brand                10224 non-null  object
 15  model                10224 non-null  object
 16  rto_state            10224 non-null  category
dtypes: category(3), float64(1), int64(2), object(11)
memory usage: 1.5+ MB

#### Ownership :

In [83]:
df.head()

,vehicle_name,fuel_type,seats,kms_driven,ownership,engine_displacement,transmission_type,engine_power,drive_type,new_vehicle_price,vehicle_price,other_features,mileage(kmpl),registration_year,brand,model,rto_state
0,2013 Toyota Etios GD,Diesel,5 Seats,150000,Fourth Owner,1364 cc,Manual,NaN,NaN,New Car Price ₹8.05 Lakh,₹2.60 Lakh,[],NaN,2013,Toyota,Etios,Rajasthan
1,2024 Toyota Glanza V,Petrol,5 Seats,10000,First Owner,1197 cc,Manual,NaN,NaN,New Car Price ₹11.28 Lakh,₹9.40 Lakh,[],NaN,2024,Toyota,Glanza,Punjab
2,2017 Hyundai Creta 1.4 E Plus,Diesel,5 Seats,75000,First Owner,1396 cc,Manual,NaN,NaN,New Car Price ₹11.86 Lakh,₹6.25 Lakh Make Your Offer,[],NaN,2017,Hyundai,Creta,Haryana
3,2011 Volkswagen Vento Diesel Trendline,Diesel,5 Seats,160000,Third Owner,1598 cc,Manual,103.6 bhp,NaN,New Car Price ₹10.05 Lakh,₹1.40 Lakh,['Parking Sensors'],20.54,2011,Volkswagen,Vento,Punjab
4,2014 Hyundai Verna 1.6 CRDI,Diesel,5 Seats,120000,First Owner,1582 cc,Manual,126.3 bhp,NaN,New Car Price ₹11.87 Lakh,₹4 Lakh,"['Automatic Climate Control', 'Parking Sensors']",22.32,2014,Hyundai,Verna,Uttar Pradesh

In [84]:
df.isnull().sum()

vehicle_name              0
fuel_type                 0
seats                     0
kms_driven                0
ownership                 3
engine_displacement      86
transmission_type         0
engine_power           3126
drive_type             7977
new_vehicle_price         0
vehicle_price             0
other_features            0
mileage(kmpl)          3333
registration_year         0
brand                     0
model                     0
rto_state                 0
dtype: int64

In [85]:
df['ownership'].value_counts()

ownership
First Owner     6595
Second Owner    2507
Third Owner      783
Fourth Owner     225
Fifth Owner      111
Name: count, dtype: int64

In [86]:
#converting the dtype to category
df['ownership'] = df['ownership'].astype('category')

In [87]:
df[df['ownership'].isnull()]

,vehicle_name,fuel_type,seats,kms_driven,ownership,engine_displacement,transmission_type,engine_power,drive_type,new_vehicle_price,vehicle_price,other_features,mileage(kmpl),registration_year,brand,model,rto_state
1346,2024 Volkswagen Taigun 1.0 Topline AT,Petrol,5 Seats,15000,NaN,999 cc,Automatic,113.98 bhp,FWD,New Car Price ₹20.62 Lakh,₹17.25 Lakh Make Your Offer,"['Ventilated Seats', 'Height Adjustable Driver...",17.23,2024,Volkswagen,Taigun,Unknown
1932,2025 Mahindra XUV700 AX7 Diesel AT BSVI,Diesel,7 Seats,491,NaN,2198 cc,Automatic,NaN,NaN,New Car Price ₹27.24 Lakh,₹25 Lakh Make Your Offer,[],NaN,2025,Mahindra,XUV700,Unknown
5164,2024 Audi Q3 Bold Edition,Petrol,5 Seats,6691,NaN,1984 cc,Automatic,187.74 bhp,AWD,New Car Price ₹65.87 Lakh,₹44.50 Lakh Make Your Offer,"['Powered Front Seats', 'Height Adjustable Dri...",5.40,2024,Audi,Q3,Unknown

In [88]:
# filling the missing values with mode
df['ownership'] = df['ownership'].fillna(df['ownership'].mode()[0])

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10224 entries, 0 to 10223
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   vehicle_name         10224 non-null  object
 1   fuel_type            10224 non-null  object
 2   seats                10224 non-null  object
 3   kms_driven           10224 non-null  int64
 4   ownership            10224 non-null  category
 5   engine_displacement  10138 non-null  object
 6   transmission_type    10224 non-null  object
 7   engine_power         7098 non-null   object
 8   drive_type           2247 non-null   object
 9   new_vehicle_price    10224 non-null  object
 10  vehicle_price        10224 non-null  object
 11  other_features       10224 non-null  object
 12  mileage(kmpl)        6891 non-null   float64
 13  registration_year    10224 non-null  int64
 14  brand                10224 non-null  object
 15  model                10224 non-null  object
 16  rto_state            10224 non-null  object
dtypes: category(1), float64(1), int64(2), object(13)
memory usage: 1.3+ MB

#### Engine_displacement :

In [90]:
df.head()

,vehicle_name,fuel_type,seats,kms_driven,ownership,engine_displacement,transmission_type,engine_power,drive_type,new_vehicle_price,vehicle_price,other_features,mileage(kmpl),registration_year,brand,model,rto_state
0,2013 Toyota Etios GD,Diesel,5 Seats,150000,Fourth Owner,1364 cc,Manual,NaN,NaN,New Car Price ₹8.05 Lakh,₹2.60 Lakh,[],NaN,2013,Toyota,Etios,Rajasthan
1,2024 Toyota Glanza V,Petrol,5 Seats,10000,First Owner,1197 cc,Manual,NaN,NaN,New Car Price ₹11.28 Lakh,₹9.40 Lakh,[],NaN,2024,Toyota,Glanza,Punjab
2,2017 Hyundai Creta 1.4 E Plus,Diesel,5 Seats,75000,First Owner,1396 cc,Manual,NaN,NaN,New Car Price ₹11.86 Lakh,₹6.25 Lakh Make Your Offer,[],NaN,2017,Hyundai,Creta,Haryana
3,2011 Volkswagen Vento Diesel Trendline,Diesel,5 Seats,160000,Third Owner,1598 cc,Manual,103.6 bhp,NaN,New Car Price ₹10.05 Lakh,₹1.40 Lakh,['Parking Sensors'],20.54,2011,Volkswagen,Vento,Punjab
4,2014 Hyundai Verna 1.6 CRDI,Diesel,5 Seats,120000,First Owner,1582 cc,Manual,126.3 bhp,NaN,New Car Price ₹11.87 Lakh,₹4 Lakh,"['Automatic Climate Control', 'Parking Sensors']",22.32,2014,Hyundai,Verna,Uttar Pradesh

In [91]:
df.isnull().sum()

vehicle_name              0
fuel_type                 0
seats                     0
kms_driven                0
ownership                 0
engine_displacement      86
transmission_type         0
engine_power           3126
drive_type             7977
new_vehicle_price         0
vehicle_price             0
other_features            0
mileage(kmpl)          3333
registration_year         0
brand                     0
model                     0
rto_state                 0
dtype: int64

In [92]:
df['engine_displacement'] = df['engine_displacement'].str.replace('cc','')

In [93]:
df['engine_displacement'] = df['engine_displacement'].astype('Int32')

In [94]:
df[df['engine_displacement'].isnull()]

,vehicle_name,fuel_type,seats,kms_driven,ownership,engine_displacement,transmission_type,engine_power,drive_type,new_vehicle_price,vehicle_price,other_features,mileage(kmpl),registration_year,brand,model,rto_state
418,2024 Tata Curvv EV Accomplished 45,Electric,5 Seats,30000,First Owner,<NA>,Automatic,148 bhp,NaN,New Car Price ₹20.18 Lakh,₹16.50 Lakh,"['Digital Instrument Cluster', 'Auto Dimming I...",0.00,2024,Tata,Curvv,Madhya Pradesh
452,2024 Tata Punch EV Adventure,Electric,5 Seats,20000,First Owner,<NA>,Automatic,80.46 bhp,NaN,New Car Price ₹12.43 Lakh,₹11 Lakh,"['Auto Dimming IRVM', 'Rear Camera', 'KeyLess ...",0.00,2024,Tata,Punch,Tripura
565,2022 Tata Tigor EV XZ Plus,Electric,5 Seats,39000,Fifth Owner,<NA>,Automatic,73.75 bhp,NaN,New Car Price ₹13.62 Lakh,₹6.99 Lakh,"['Rear Camera', 'KeyLess Entry', 'Automatic Cl...",0.00,2022,Tata,Tigor,Unknown
622,2024 MG Comet EV Executive,Electric,4 Seats,10000,First Owner,<NA>,Automatic,41.42 bhp,NaN,New Car Price ₹8.32 Lakh,₹6.80 Lakh,"['Digital Instrument Cluster', 'Auto Dimming I...",0.00,2024,MG,Comet,Assam
655,2024 Tata Punch EV Adventure LR,Electric,5 Seats,30000,First Owner,<NA>,Automatic,NaN,NaN,New Car Price ₹13.80 Lakh,₹9.50 Lakh,[],0.00,2024,Tata,Punch,Maharashtra
697,2022 Tata Nexon EV XZ Plus Dark Edition,Electric,5 Seats,44060,First Owner,<NA>,Automatic,127 bhp,NaN,New Car Price ₹17.04 Lakh,₹10 Lakh,"['KeyLess Entry', 'Automatic Climate Control',...",0.00,2022,Tata,Nexon,Maharashtra
713,2023 Tata Nexon EV XZ Plus,Electric,5 Seats,10000,First Owner,<NA>,Automatic,127 bhp,NaN,New Car Price ₹16.83 Lakh,₹14 Lakh,"['KeyLess Entry', 'Automatic Climate Control',...",0.00,2023,Tata,Nexon,Maharashtra
721,2024 Tata Tiago EV XT LR,Electric,5 Seats,41000,First Owner,<NA>,Automatic,73.75 bhp,NaN,New Car Price ₹11.16 Lakh,₹10 Lakh,"['Digital Instrument Cluster', 'Auto Dimming I...",0.00,2024,Tata,Tiago,Kerala
739,2021 MG ZS EV Exclusive,Electric,5 Seats,87000,First Owner,<NA>,Automatic,140.8 bhp,NaN,New Car Price ₹27.17 Lakh,₹13 Lakh,"['Rear Camera', 'KeyLess Entry', 'Voice Comman...",0.00,2021,MG,ZS,Unknown
1107,2024 Hyundai IONIQ 5 Long Range RWD,Electric,5 Seats,10000,First Owner,<NA>,Automatic,214.56 bhp,NaN,New Car Price ₹48.48 Lakh,₹45 Lakh,"['Digital Instrument Cluster', 'Wireless Charg...",0.00,2024,Hyundai,IONIQ,Tamil Nadu
1178,2024 MG Comet EV Executive,Electric,4 Seats,20000,First Owner,<NA>,Automatic,NaN,NaN,New Car Price ₹7.74 Lakh,₹6.50 Lakh,[],0.00,2024,MG,Comet,Andhra Pradesh
1614,2023 MG ZS EV Exclusive Pro,Electric,5 Seats,20000,First Owner,<NA>,Automatic,174.33 bhp,NaN,New Car Price ₹26.23 Lakh,₹22 Lakh,"['Digital Instrument Cluster', 'Wireless Charg...",0.00,2023,MG,ZS,West Bengal
1766,2023 Tata Tiago EV XT LR,Electric,5 Seats,90000,First Owner,<NA>,Automatic,NaN,NaN,New Car Price ₹10.65 Lakh,₹8.25 Lakh,[],0.00,2023,Tata,Tiago,Bihar
1836,2024 MG ZS EV Executive,Electric,5 Seats,10000,First Owner,<NA>,Automatic,NaN,NaN,New Car Price ₹18.92 Lakh,₹16.50 Lakh,[],0.00,2024,MG,ZS,Karnataka
1888,2022 Tata Nexon EV XM,Electric,5 Seats,60000,First Owner,<NA>,Automatic,NaN,NaN,New Car Price ₹15.99 Lakh,₹10.49 Lakh,[],0.00,2022,Tata,Nexon,Maharashtra
1908,2024 Tata Curvv EV Empowered Plus A 55,Electric,5 Seats,30000,First Owner,<NA>,Automatic,NaN,NaN,New Car Price ₹24.73 Lakh,₹19.60 Lakh,[],0.00,2024,Tata,Curvv,Chhattisgarh
2443,2024 BYD E6 Electric,Electric,5 Seats,30000,First Owner,<NA>,Automatic,93.87 bhp,NaN,New Car Price ₹30.78 Lakh,₹25 Lakh,"['Digital Instrument Cluster', 'Auto Dimming I...",0.00,2024,BYD,E6,Andhra Pradesh
2540,2024 Mahindra XUV400 EV EL Fast Charger,Electric,5 Seats,20000,First Owner,<NA>,Automatic,NaN,NaN,New Car Price ₹20.18 Lakh,₹15 Lakh,[],0.00,2024,Mahindra,XUV400,Goa
2577,2024 Tata Punch EV Adventure LR,Electric,5 Seats,20000,First Owner,<NA>,Automatic,120.69 bhp,NaN,New Car Price ₹13.54 Lakh,₹11.10 Lakh,"['Auto Dimming IRVM', 'Rear Camera', 'KeyLess ...",0.00,2024,Tata,Punch,Goa
2677,2025 Mahindra BE 6 Pack One,Electric,5 Seats,1000,First Owner,<NA>,Automatic,228 bhp,NaN,New Car Price ₹19.87 Lakh,₹18 Lakh,"['Digital Instrument Cluster', 'Auto Dimming I...",0.00,2025,Mahindra,BE,Jammu and Kashmir
2737,2022 Tata Nexon EV XZ Plus Dark Edition,Electric,5 Seats,20000,First Owner,<NA>,Automatic,127 bhp,NaN,New Car Price ₹17.04 Lakh,₹11 Lakh,"['KeyLess Entry', 'Automatic Climate Control',...",0.00,2022,Tata,Nexon,Tamil Nadu
2738,2022 Tata Nexon EV XZ Plus Dark Edition,Electric,5 Seats,10000,First Owner,<NA>,Automatic,127 bhp,NaN,New Car Price ₹17.04 Lakh,₹16 Lakh,"['KeyLess Entry', 'Automatic Climate Control',...",0.00,2022,Tata,Nexon,Tamil Nadu
2931,2023 Tata Tiago EV XZ Plus Tech LUX LR ACFC,Electric,5 Seats,48000,First Owner,<NA>,Automatic,73.75 bhp,NaN,New Car Price ₹12.06 Lakh,₹10 Lakh,"['Digital Instrument Cluster', 'Auto Dimming I...",0.00,2023,Tata,Tiago,Unknown
3053,2023 Mahindra XUV400 EV EL Fast Charger,Electric,5 Seats,10000,First Owner,<NA>,Automatic,147.51 bhp,NaN,New Car Price ₹20.18 Lakh,₹15.50 Lakh,"['Auto Dimming IRVM', 'KeyLess Entry', 'Voice ...",0.00,2023,Mahindra,XUV400,Karnataka
3293,2021 Tata Nexon EV XZ Plus,Electric,5 Seats,40000,First Owner,<NA>,Automatic,127 bhp,NaN,New Car Price ₹16.83 Lakh,₹8.20 Lakh,"['KeyLess Entry', 'Automatic Climate Control',...",0.00,2021,Tata,Nexon,Maharashtra
3294,2021 Tata Nexon EV XZ Plus,Electric,5 Seats,40000,First Owner,<NA>,Automatic,127 bhp,NaN,New Car Price ₹16.83 Lakh,₹8.20 Lakh,"['KeyLess Entry', 'Automatic Climate Control',...",0.00,2021,Tata,Nexon,Maharashtra
3317,2020 Tata Nexon EV XZ Plus LUX,Electric,5 Seats,27000,First Owner,<NA>,Automatic,127 bhp,NaN,New Car Price ₹17.88 Lakh,₹9.25 Lakh Make Your Offer,"['KeyLess Entry', 'Automatic Climate Control',...",0.00,2020,Tata,Nexon,Maharashtra
3487,2023 Tata Nexon EV XZ Plus,Electric,5 Seats,40000,First Owner,<NA>,Automatic,141.04 bhp,NaN,New Car Price ₹18.40 Lakh,₹14.35 Lakh,"['Wireless Charging', 'Automatic Climate Contr...",0.00,2023,Tata,Nexon,Uttar Pradesh
3832,2023 Tata Nexon EV Empowered Plus LR,Electric,5 Seats,20000,First Owner,<NA>,Automatic,NaN,NaN,New Car Price ₹17.35 Lakh,₹15 Lakh,[],0.00,2023,Tata,Nexon,West Bengal
3969,2024 Tata Tiago EV XZ Plus LR,Electric,5 Seats,20000,First Owner,<NA>,Automatic,NaN,NaN,New Car Price ₹11.02 Lakh,₹9.25 Lakh,[],0.00,2024,Tata,Tiago,Uttar Pradesh
3978,2023 Tata Tiago EV XT LR,Electric,5 Seats,24000,First Owner,<NA>,Automatic,73.75 bhp,NaN,New Car Price ₹10.65 Lakh,₹9 Lakh,"['Digital Instrument Cluster', 'Auto Dimming I...",0.00,2023,Tata,Tiago,Other/Regional Code
4091,2025 Mahindra BE 6 Pack One,Electric,5 Seats,1000,First Owner,<NA>,Automatic,228 bhp,NaN,New Car Price ₹19.87 Lakh,₹18 Lakh,"['Digital Instrument Cluster', 'Auto Dimming I...",0.00,2025,Mahindra,BE,Uttar Pradesh
4233,2023 Hyundai Kona Premium,Electric,5 Seats,60000,First Owner,<NA>,Automatic,NaN,NaN,New Car Price ₹25.04 Lakh,₹18 Lakh,[],0.00,2023,Hyundai,Kona,Andhra Pradesh
4316,2022 Tata Nexon EV XZ Plus,Electric,5 Seats,119000,First Owner,<NA>,Automatic,141.04 bhp,NaN,New Car Price ₹19.45 Lakh,₹12.59 Lakh,"['Wireless Charging', 'Automatic Climate Contr...",0.00,2022,Tata,Nexon,Gujarat
4339,2023 Hyundai Kona Premium,Electric,5 Seats,24000,First Owner,<NA>,Automatic,NaN,NaN,New Car Price ₹25.04 Lakh,₹17 Lakh Make Your Offer,[],0.00,2023,Hyundai,Kona,Tamil Nadu
4615,2023 Mini Cooper SE Electric,Electric,4 Seats,2773,First Owner,<NA>,Automatic,181.03 bhp,NaN,New Car Price ₹56.06 Lakh,₹37 Lakh Make Your Offer,['Voice Commands'],0.00,2023,Mini,Cooper,Delhi
4637,2024 Mini Cooper SE Electric,Electric,4 Seats,4343,First Owner,<NA>,Automatic,181.03 bhp,NaN,New Car Price ₹56.06 Lakh,₹37 Lakh Make Your Offer,['Voice Commands'],0.00,2024,Mini,Cooper,Chandigarh
4831,2024 Tata Nexon EV Empowered Plus 45,Electric,5 Seats,24000,First Owner,<NA>,Automatic,142 bhp,NaN,New Car Price ₹17.88 Lakh,₹15.50 Lakh,"['Digital Instrument Cluster', 'Wireless Charg...",0.00,2024,Tata,Nexon,Maharashtra
4854,2020 Tata Nexon EV XZ Plus LUX,Electric,5 Seats,80000,Second Owner,<NA>,Automatic,NaN,NaN,New Car Price ₹17.88 Lakh,₹7.50 Lakh,[],0.00,2020,Tata,Nexon,Andhra Pradesh
4909,1991 Maruti Gypsy MG410W HT,Petrol,8 Seats,70000,Fifth Owner,<NA>,Manual,NaN,NaN,New Car Price ₹6.88 Lakh,₹1.50 Lakh,[],NaN,1991,Maruti,Gypsy,Nagaland
4949,2024 Tata Tiago EV XT LR,Electric,5 Seats,10000,First Owner,<NA>,Automatic,73.75 bhp,NaN,New Car Price ₹10.65 Lakh,₹9.20 Lakh,"['Digital Instrument Cluster', 'Auto Dimming I...",0.00,2024,Tata,Tiago,Telangana
5449,2024 Tata Nexon EV Empowered Plus LR,Electric,5 Seats,40000,First Owner,<NA>,Automatic,143 bhp,NaN,New Car Price ₹17.14 Lakh,₹16.50 Lakh,"['Digital Instrument Cluster', 'Wireless Charg...",0.00,2024,Tata,Nexon,Tamil Nadu
5457,2024 Tata Punch EV Adventure LR,Electric,5 Seats,9001,First Owner,<NA>,Automatic,120.69 bhp,NaN,New Car Price ₹13.75 Lakh,₹10.25 Lakh Make Your Offer,"['Auto Dimming IRVM', 'Rear Camera', 'KeyLess ...",0.00,2024,Tata,Punch,Tamil Nadu
5480,2022 Audi e-tron 55 Quattro,Electric,5 Seats,29000,First Owner,<NA>,Automatic,300 bhp,NaN,New Car Price ₹1.27 Crore,₹60 Lakh Make Your Offer,"['Heads Up Display', '360 Degree Camera', 'Act...",0.00,2023,Audi,e-tron,Haryana
5506,2023 BMW iX xDrive40,Electric,5 Seats,2600,First Owner,<NA>,Automatic,321.84 bhp,NaN,New Car Price ₹1.30 Crore,₹78 Lakh Make Your Offer,"['Heads Up Display', '360 Degree Camera', 'Mas...",0.00,2024,BMW,iX,Chandigarh
5735,2025 MG Windsor EV Essence,Electric,5 Seats,10000,First Owner,<NA>,Automatic,134 bhp,NaN,New Car Price ₹17 Lakh,₹16.40 Lakh,"['Digital Instrument Cluster', 'Wireless Charg...",0.00,2025,MG,Windsor,Maharashtra
5771,2023 MG Comet EV Play,Electric,4 Seats,50000,First Owner,<NA>,Automatic,41.42 bhp,NaN,New Car Price ₹8.22 Lakh,₹7.81 Lakh,"['Digital Instrument Cluster', 'Auto Dimming I...",0.00,2023,MG,Comet,Telangana
5782,2024 Tata Nexon EV Empowered Plus LR,Electric,5 Seats,30000,First Owner,<NA>,Automatic,143 bhp,NaN,New Car Price ₹17.14 Lakh,₹17 Lakh,"['Digital Instrument Cluster', 'Wireless Charg...",0.00,2024,Tata,Nexon,Andhra Pradesh
5887,2023 Citroen eC3 Feel DT,Electric,5 Seats,50000,First Owner,<NA>,Automatic,56.21 bhp,NaN,New Car Price ₹14.36 Lakh,₹10 Lakh,"['Digital Instrument Cluster', 'KeyLess Entry'...",0.00,2023,Citroen,eC3,Chhattisgarh
5936,2021 Tata Tigor EV XZ Plus Dual Tone,Electric,5 Seats,97000,First Owner,<NA>,Automatic,73.75 bhp,NaN,New Car Price ₹13.78 Lakh,₹8 Lakh,"['Rear Camera', 'KeyLess Entry', 'Automatic Cl...",0.00,2021,Tata,Tigor,Andhra Pradesh
6116,2022 Tata Tigor EV XZ Plus,Electric,5 Seats,75000,First Owner,<NA>,Automatic,73.75 bhp,NaN,New Car Price ₹14.15 Lakh,₹8 Lakh,"['Digital Instrument Cluster', 'Rear Camera', ...",0.00,2022,Tata,Tigor,Andhra Pradesh
6371,2012 Toyota Etios GD SP,Diesel,5 Seats,152000,Fourth Owner,<NA>,Manual,NaN,NaN,New Car Price ₹8.55 Lakh,₹3 Lakh,[],23.59,2012,Toyota,Etios,Unknown
6372,2023 MG ZS EV Exclusive,Electric,5 Seats,20000,Second Owner,<NA>,Automatic,174.33 bhp,NaN,New Car Price ₹25.19 Lakh,₹18 Lakh,"['Digital Instrument Cluster', 'Wireless Charg...",0.00,2023,MG,ZS,Uttar Pradesh
6485,2023 Hyundai Kona Premium,Electric,5 Seats,116000,First Owner,<NA>,Automatic,134.1 bhp,NaN,New Car Price ₹25.04 Lakh,₹13 Lakh,"['Digital Instrument Cluster', 'Wireless Charg...",0.00,2023,Hyundai,Kona,Maharashtra
6610,2023 Mercedes-Benz EQB 350 4Matic,Electric,7 Seats,17095,First Owner,<NA>,Automatic,225.29 bhp,NaN,New Car Price ₹81.69 Lakh,₹69 Lakh Make Your Offer,"['Memory Functions For Seats', 'Wireless Andro...",0.00,2023,Mercedes Benz,EQB,Telangana
6617,2022 Audi e-tron 55 Quattro,Electric,5 Seats,12500,First Owner,<NA>,Automatic,300 bhp,NaN,New Car Price ₹1.25 Crore,₹73.45 Lakh Make Your Offer,"['Heads Up Display', '360 Degree Camera', 'Act...",0.00,2023,Audi,e-tron,Telangana
6625,2025 MG Comet EV Exclusive FC,Electric,4 Seats,2000,First Owner,<NA>,Automatic,41.42 bhp,NaN,New Car Price ₹10.70 Lakh,₹9 Lakh,"['Digital Instrument Cluster', 'Auto Dimming I...",0.00,2025,MG,Comet,Unknown
6855,2023 BMW iX xDrive40,Electric,5 Seats,17822,First Owner,<NA>,Automatic,321.84 bhp,NaN,New Car Price ₹1.30 Crore,₹82 Lakh Make Your Offer,"['Heads Up Display', '360 Degree Camera', 'Mas...",0.00,2023,BMW,iX,Haryana
6915,1996 Hyundai Santro GLS II - Euro II,Petrol,5 Seats,98000,First Owner,<NA>,Manual,NaN,NaN,New Car Price ₹2.96 Lakh,₹80 Thousand,[],NaN,1996,Hyundai,Santro,Chhattisgarh
7139,2021 Tata Nexon EV XZ Plus,Electric,5 Seats,100000,First Owner,<NA>,Automatic,127 bhp,NaN,New Car Price ₹16.83 Lakh,₹6.66 Lakh,"['KeyLess Entry', 'Automatic Climate Control',...",0.00,2021,Tata,Nexon,Delhi
7582,2021 Tata Nexon EV XZ Plus,Electric,5 Seats,33000,First Owner,<NA>,Automatic,127 bhp,NaN,New Car Price ₹16.83 Lakh,₹13.15 Lakh Make Your Offer,"['KeyLess Entry', 'Automatic Climate Control',...",0.00,2021,Tata,Nexon,Telangana
7945,2024 Tata Nexon EV Fearless Plus S LR,Electric,5 Seats,60000,First Owner,<NA>,Automatic,143 bhp,NaN,New Car Price ₹20.18 Lakh,₹18 Lakh,"['Digital Instrument Cluster', 'Wireless Charg...",0.00,2024,Tata,Nexon,Unknown
8005,2024 Tata Curvv EV Empowered Plus A 55,Electric,5 Seats,20000,First Owner,<NA>,Automatic,165 bhp,NaN,New Car Price ₹23.98 Lakh,₹19.50 Lakh,"['Digital Instrument Cluster', 'Wireless Charg...",0.00,2024,Tata,Curvv,Madhya Pradesh
8074,2025 Mahindra BE 6 Pack One,Electric,5 Seats,100000,First Owner,<NA>,Automatic,228 bhp,NaN,New Car Price ₹20.63 Lakh,₹13.78 Lakh,"['Digital Instrument Cluster', 'Auto Dimming I...",0.00,2025,Mahindra,BE,Unknown
8243,2023 Tata Nexon EV Empowered Plus LR,Electric,5 Seats,120000,First Owner,<NA>,Automatic,NaN,NaN,New Car Price ₹17.14 Lakh,₹15 Lakh,[],0.00,2023,Tata,Nexon,Karnataka
8264,2024 Tata Nexon EV Empowered Plus LR,Electric,5 Seats,50000,First Owner,<NA>,Automatic,143 bhp,NaN,New Car Price ₹17.14 Lakh,₹14.50 Lakh,"['Digital Instrument Cluster', 'Wireless Charg...",0.00,2024,Tata,Nexon,Andhra Pradesh
8388,2024 Tata Punch EV Empowered Plus S LR AC FC,Electric,5 Seats,40000,Second Owner,<NA>,Automatic,120.69 bhp,NaN,New Car Price ₹14.93 Lakh,₹13 Lakh,"['Digital Instrument Cluster', 'Wireless Charg...",0.00,2024,Tata,Punch,Rajasthan
8621,2021 MG ZS EV Exclusive,Electric,5 Seats,61888,First Owner,<NA>,Automatic,140.8 bhp,NaN,New Car Price ₹27.38 Lakh,₹12.48 Lakh Make Your Offer,"['Rear Camera', 'KeyLess Entry', 'Voice Comman...",0.00,2021,MG,ZS,West Bengal
8799,2024 Tata Tiago EV XT LR,Electric,5 Seats,10000,First Owner,<NA>,Automatic,NaN,NaN,New Car Price ₹10.92 Lakh,₹8.50 Lakh,[],0.00,2024,Tata,Tiago,Rajasthan
8906,2023 Tata Tiago EV XZ Plus LR,Electric,5 Seats,40000,First Owner,<NA>,Automatic,73.75 bhp,NaN,New Car Price ₹11.02 Lakh,₹8.50 Lakh,"['Digital Instrument Cluster', 'Auto Dimming I...",0.00,2023,Tata,Tiago,Maharashtra
8907,2021 Tata Nexon EV XZ Plus LUX,Electric,5 Seats,23000,First Owner,<NA>,Automatic,127 bhp,NaN,New Car Price ₹17.88 Lakh,₹9.85 Lakh Make Your Offer,"['KeyLess Entry', 'Automatic Climate Control',...",0.00,2021,Tata,Nexon,Maharashtra
8921,2020 Tata Nexon EV XZ Plus,Electric,5 Seats,65300,First Owner,<NA>,Automatic,NaN,NaN,New Car Price ₹16.83 Lakh,₹8 Lakh Make Your Offer,[],0.00,2020,Tata,Nexon,Maharashtra
9016,2022 MG ZS EV Exclusive,Electric,5 Seats,42999,First Owner,<NA>,Automatic,NaN,NaN,New Car Price ₹27.17 Lakh,₹15.15 Lakh Make Your Offer,[],0.00,2022,MG,ZS,Maharashtra
9150,2021 Tata Tigor EV XZ Plus,Electric,5 Seats,60000,First Owner,<NA>,Automatic,73.75 bhp,NaN,New Car Price ₹14.30 Lakh,₹8.50 Lakh,"['Rear Camera', 'KeyLess Entry', 'Automatic Cl...",0.00,2021,Tata,Tigor,Kerala
9151,2025 Tata Punch EV Adventure,Electric,5 Seats,10000,First Owner,<NA>,Automatic,NaN,NaN,New Car Price ₹13.02 Lakh,₹12 Lakh,[],0.00,2025,Tata,Punch,Kerala
9156,2023 Tata Nexon EV XZ Plus Lux,Electric,5 Seats,71000,First Owner,<NA>,Automatic,141.04 bhp,NaN,New Car Price ₹20.70 Lakh,₹13 Lakh,"['Wireless Charging', 'Automatic Climate Contr...",0.00,2023,Tata,Nexon,Kerala
9236,2022 Tata Nexon EV XM,Electric,5 Seats,33000,First Owner,<NA>,Automatic,127 bhp,NaN,New Car Price ₹15.26 Lakh,₹9.48 Lakh,"['KeyLess Entry', 'Automatic Climate Control',...",0.00,2022,Tata,Nexon,Unknown
9299,2017 Mahindra e2o Plus P6,Electric,4 Seats,80000,Second Owner,<NA>,Automatic,25.4 bhp,NaN,New Car Price ₹8.22 Lakh,₹2.40 Lakh Make Your Offer,"['Rear Camera', 'KeyLess Entry']",0.00,2017,Mahindra,e2o,Tamil Nadu
9343,2013 Hyundai i20 new Sportz AT 1.4,Petrol,5 Seats,25000,Second Owner,<NA>,Automatic,NaN,NaN,New Car Price ₹8.85 Lakh,₹4.50 Lakh Make Your Offer,[],15.00,2013,Hyundai,i20,Karnataka
9411,2024 Tata Punch EV Adventure LR,Electric,5 Seats,30000,First Owner,<NA>,Automatic,NaN,NaN,New Car Price ₹13.54 Lakh,₹11.50 Lakh,[],0.00,2024,Tata,Punch,Rajasthan
9435,2024 Tata Punch EV Smart Plus,Electric,5 Seats,6900,First Owner,<NA>,Automatic,80.46 bhp,NaN,New Car Price ₹11.70 Lakh,₹11.50 Lakh,"['Auto Dimming IRVM', 'Rear Camera', 'KeyLess ...",0.00,2024,Tata,Punch,Rajasthan
9548,2021 Tata Tigor EV XZ Plus,Electric,5 Seats,45000,First Owner,<NA>,Automatic,73.75 bhp,NaN,New Car Price ₹13.62 Lakh,₹6 Lakh Make Your Offer,"['Rear Camera', 'KeyLess Entry', 'Automatic Cl...",0.00,2021,Tata,Tigor,Maharashtra
9557,2024 Hyundai IONIQ 5 Long Range RWD,Electric,5 Seats,11000,First Owner,<NA>,Automatic,NaN,NaN,New Car Price ₹49.04 Lakh,₹36.75 Lakh Make Your Offer,[],0.00,2024,Hyundai,IONIQ,Maharashtra
9560,2024 Tata Nexon EV Fearless Plus S LR,Electric,5 Seats,10000,First Owner,<NA>,Automatic,NaN,NaN,New Car Price ₹16.10 Lakh,₹15 Lakh,[],0.00,2024,Tata,Nexon,Maharashtra
9794,2023 MG ZS EV Exclusive,Electric,5 Seats,20000,Second Owner,<NA>,Automatic,NaN,NaN,New Car Price ₹25.19 Lakh,₹18 Lakh,[],0.00,2023,MG,ZS,Uttar Pradesh
10011,2024 Citroen eC3 Shine DT,Electric,5 Seats,28000,First Owner,<NA>,Automatic,56.21 bhp,NaN,New Car Price ₹14.72 Lakh,₹11 Lakh,"['Digital Instrument Cluster', 'Rear Camera', ...",0.00,2024,Citroen,eC3,Tamil Nadu

In [95]:
# Making the NaN values to '0' for rows with electric fuel_type
df.loc[(df['fuel_type'] == 'Electric') & (df['engine_displacement'].isna()),'engine_displacement'] = 0

In [96]:
# filling the missing values manually for remaining
engine_updates = {
    4909: 1298,   # Maruti Gypsy MG410W HT
    6371: 1364,   # Toyota Etios GD SP
    6915: 999,    # Hyundai Santro GLS II Euro II
    9343: 1396    # Hyundai i20 Sportz AT 1.4
}

for idx, cc in engine_updates.items():
    df.loc[idx, 'engine_displacement'] = cc

In [97]:
df['engine_displacement'] = df['engine_displacement'].astype('int32')

In [98]:
df.rename(columns={
'engine_displacement' : 'engine(cc)'
},inplace=True)

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10224 entries, 0 to 10223
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   vehicle_name       10224 non-null  object
 1   fuel_type          10224 non-null  object
 2   seats              10224 non-null  object
 3   kms_driven         10224 non-null  int64
 4   ownership          10224 non-null  category
 5   engine(cc)         10224 non-null  int32
 6   transmission_type  10224 non-null  object
 7   engine_power       7098 non-null   object
 8   drive_type         2247 non-null   object
 9   new_vehicle_price  10224 non-null  object
 10  vehicle_price      10224 non-null  object
 11  other_features     10224 non-null  object
 12  mileage(kmpl)      6891 non-null   float64
 13  registration_year  10224 non-null  int64
 14  brand              10224 non-null  object
 15  model              10224 non-null  object
 16  rto_state          10224 non-null  object
dtypes: category(1), float64(1), int32(1), int64(2), object(12)
memory usage: 1.5+ MB

#### transmission_type :

In [100]:
df.head()

,vehicle_name,fuel_type,seats,kms_driven,ownership,engine(cc),transmission_type,engine_power,drive_type,new_vehicle_price,vehicle_price,other_features,mileage(kmpl),registration_year,brand,model,rto_state
0,2013 Toyota Etios GD,Diesel,5 Seats,150000,Fourth Owner,1364,Manual,NaN,NaN,New Car Price ₹8.05 Lakh,₹2.60 Lakh,[],NaN,2013,Toyota,Etios,Rajasthan
1,2024 Toyota Glanza V,Petrol,5 Seats,10000,First Owner,1197,Manual,NaN,NaN,New Car Price ₹11.28 Lakh,₹9.40 Lakh,[],NaN,2024,Toyota,Glanza,Punjab
2,2017 Hyundai Creta 1.4 E Plus,Diesel,5 Seats,75000,First Owner,1396,Manual,NaN,NaN,New Car Price ₹11.86 Lakh,₹6.25 Lakh Make Your Offer,[],NaN,2017,Hyundai,Creta,Haryana
3,2011 Volkswagen Vento Diesel Trendline,Diesel,5 Seats,160000,Third Owner,1598,Manual,103.6 bhp,NaN,New Car Price ₹10.05 Lakh,₹1.40 Lakh,['Parking Sensors'],20.54,2011,Volkswagen,Vento,Punjab
4,2014 Hyundai Verna 1.6 CRDI,Diesel,5 Seats,120000,First Owner,1582,Manual,126.3 bhp,NaN,New Car Price ₹11.87 Lakh,₹4 Lakh,"['Automatic Climate Control', 'Parking Sensors']",22.32,2014,Hyundai,Verna,Uttar Pradesh

In [101]:
df['transmission_type'].value_counts()

transmission_type
Manual       8397
Automatic    1827
Name: count, dtype: int64

In [102]:
df.isnull().sum()

vehicle_name            0
fuel_type               0
seats                   0
kms_driven              0
ownership               0
engine(cc)              0
transmission_type       0
engine_power         3126
drive_type           7977
new_vehicle_price       0
vehicle_price           0
other_features          0
mileage(kmpl)        3333
registration_year       0
brand                   0
model                   0
rto_state               0
dtype: int64

In [103]:
df['transmission_type'] = df['transmission_type'].astype('category')

#### Engine power :

In [104]:
df.head()

,vehicle_name,fuel_type,seats,kms_driven,ownership,engine(cc),transmission_type,engine_power,drive_type,new_vehicle_price,vehicle_price,other_features,mileage(kmpl),registration_year,brand,model,rto_state
0,2013 Toyota Etios GD,Diesel,5 Seats,150000,Fourth Owner,1364,Manual,NaN,NaN,New Car Price ₹8.05 Lakh,₹2.60 Lakh,[],NaN,2013,Toyota,Etios,Rajasthan
1,2024 Toyota Glanza V,Petrol,5 Seats,10000,First Owner,1197,Manual,NaN,NaN,New Car Price ₹11.28 Lakh,₹9.40 Lakh,[],NaN,2024,Toyota,Glanza,Punjab
2,2017 Hyundai Creta 1.4 E Plus,Diesel,5 Seats,75000,First Owner,1396,Manual,NaN,NaN,New Car Price ₹11.86 Lakh,₹6.25 Lakh Make Your Offer,[],NaN,2017,Hyundai,Creta,Haryana
3,2011 Volkswagen Vento Diesel Trendline,Diesel,5 Seats,160000,Third Owner,1598,Manual,103.6 bhp,NaN,New Car Price ₹10.05 Lakh,₹1.40 Lakh,['Parking Sensors'],20.54,2011,Volkswagen,Vento,Punjab
4,2014 Hyundai Verna 1.6 CRDI,Diesel,5 Seats,120000,First Owner,1582,Manual,126.3 bhp,NaN,New Car Price ₹11.87 Lakh,₹4 Lakh,"['Automatic Climate Control', 'Parking Sensors']",22.32,2014,Hyundai,Verna,Uttar Pradesh

In [105]:
df['engine_power'].value_counts()

engine_power
81.80 bhp      295
74 bhp         242
88.5 bhp       179
88.50 bhp      176
81.86 bhp      167
67.04 bhp      147
67 bhp         132
82 bhp         130
47.3 bhp       118
140 bhp        114
98.6 bhp       105
68.05 bhp      100
67.1 bhp       100
88.7 bhp        97
67.05 bhp       96
126.2 bhp       91
65.71 bhp       90
55.2 bhp        82
46.3 bhp        82
85.8 bhp        80
71.01 bhp       79
78.9 bhp        75
88.76 bhp       74
62.1 bhp        72
101.64 bhp      69
113.98 bhp      65
86.63 bhp       64
83.1 bhp        64
167.67 bhp      64
118.35 bhp      63
113.43 bhp      63
100 bhp         61
73.9 bhp        60
47.33 bhp       58
88.73 bhp       54
113.18 bhp      53
70 bhp          53
108.5 bhp       53
69 bhp          53
121.3 bhp       50
103.26 bhp      48
81.83 bhp       47
141 bhp         46
98.63 bhp       44
117.3 bhp       43
113.42 bhp      42
74.96 bhp       41
130 bhp         41
120 bhp         39
147.51 bhp      39
74.02 bhp       38
118.36 bhp      38
75 bhp          37
84 bhp          36
98.96 bhp       34
103.2 bhp       32
68 bhp          32
108.62 bhp      32
73.97 bhp       32
71 bhp          31
53.3 bhp        31
86.83 bhp       30
83.8 bhp        30
170 bhp         29
187.74 bhp      29
99 bhp          29
84.82 bhp       28
108.49 bhp      28
100.6 bhp       28
114.41 bhp      27
168.5 bhp       27
108.6 bhp       27
147.8 bhp       27
80.46 bhp       26
86.8 bhp        26
81.8 bhp        26
108.45 bhp      26
113.45 bhp      25
201.15 bhp      24
72 bhp          24
118.27 bhp      24
86.7 bhp        23
103.25 bhp      23
114 bhp         23
174.33 bhp      22
58.16 bhp       22
119.35 bhp      22
76.43 bhp       21
101.65 bhp      21
71.02 bhp       20
67.06 bhp       20
167.68 bhp      20
89.84 bhp       20
172.45 bhp      20
174.5 bhp       19
88.8 bhp        19
83.14 bhp       19
184 bhp         18
138.1 bhp       18
91.18 bhp       18
117.6 bhp       18
91.1 bhp        18
73.75 bhp       18
115 bhp         17
84.48 bhp       17
37 bhp          17
138.08 bhp      17
153.86 bhp      17
58.33 bhp       17
103.6 bhp       17
150 bhp         16
148 bhp         16
130.07 bhp      16
85.80 bhp       16
73 bhp          16
126.32 bhp      15
58.2 bhp        15
87 bhp          15
136.78 bhp      15
152.87 bhp      15
62 bhp          15
55.92 bhp       14
72.41 bhp       14
115.05 bhp      14
197 bhp         14
79.4 bhp        14
63 bhp          14
93.7 bhp        13
143 bhp         13
167.62 bhp      13
104.55 bhp      12
171.5 bhp       12
118 bhp         12
141.04 bhp      12
150.19 bhp      12
103 bhp         12
83.83 bhp       11
121 bhp         11
190 bhp         11
127 bhp         11
258 bhp         11
182 bhp         11
73.94 bhp       11
105 bhp         10
103.5 bhp       10
138.03 bhp      10
79.65 bhp       10
84.8 bhp         9
119 bhp          9
112 bhp          9
98.59 bhp        9
34.2 bhp         9
66.1 bhp         9
157.81 bhp       9
113.31 bhp       8
75.09 bhp        8
158 bhp          8
160.77 bhp       8
138 bhp          8
182.38 bhp       8
121.36 bhp       8
88.77 bhp        8
37.48 bhp        7
200 bhp          7
93.87 bhp        7
57.6 bhp         7
82.85 bhp        7
86.79 bhp        7
80 bhp           7
73.8 bhp         7
65.39 bhp        7
163.7 bhp        7
120.69 bhp       7
91.19 bhp        7
110.4 bhp        6
110 bhp          6
103.3 bhp        6
98.56 bhp        6
181 bhp          6
77 bhp           6
215.01 bhp       6
375.48 bhp       6
147.9 bhp        6
37.5 bhp         6
136 bhp          6
109.96 bhp       6
116.3 bhp        6
147.94 bhp       6
241.3 bhp        6
61.68 bhp        6
241.4 bhp        6
52.8 bhp         6
197.13 bhp       6
138.05 bhp       6
157.57 bhp       6
82.4 bhp         5
160 bhp          5
63.12 bhp        5
91.7 bhp         5
67.72 bhp        5
194.3 bhp        5
61.7 bhp         5
89.75 bhp        5
56.3 bhp         5
254.79 bhp       5
183.72 bhp       5
138.13 bhp       5
170.63 bhp       5
187.7 bhp        5
177 bhp          5
87.2 bhp         5
183 bhp          5
128.73 bhp       5
118.41 bhp       5
126.3 bhp        5
89 bhp           4
177.46 bhp       4
99.23 bhp        4
235 bhp          4
246.74 bhp       4
53.26 bhp        4
362.07 bhp       4
182.37 bhp       4
105.5 bhp        4
188 bhp          4
296 bhp          4
194 bhp          4
40.3 bhp         4
212.55 bhp       4
65 bhp           4
116.93 bhp       4
325.86 bhp       4
72.4 bhp         4
270.9 bhp        4
72.49 bhp        4
194.44 bhp       4
94.68 bhp        4
174.3 bhp        4
255 bhp          4
83.81 bhp        4
168 bhp          3
69.01 bhp        3
204 bhp          3
41.42 bhp        3
105.94 bhp       3
167.63 bhp       3
102.57 bhp       3
76.8 bhp         3
123.37 bhp       3
281.61 bhp       3
241.38 bhp       3
175.67 bhp       3
97.89 bhp        3
68.80 bhp        3
70.02 bhp        3
120.96 bhp       3
76 bhp           3
153.866 bhp      3
97.9 bhp         3
63.1 bhp         3
121.31 bhp       3
53.64 bhp        3
228 bhp          3
261.49 bhp       3
181.03 bhp       3
130.2 bhp        3
261.50 bhp       3
248.08 bhp       3
245 bhp          3
335.25 bhp       3
103.52 bhp       3
245.59 bhp       3
64 bhp           3
80.9 bhp         3
231.78 bhp       3
48.21 bhp        3
95 bhp           3
47 bhp           2
116.4 bhp        2
172 bhp          2
157.7 bhp        2
74.41 bhp        2
110.5 bhp        2
197.26 bhp       2
141.1 bhp        2
191.7 bhp        2
78.8 bhp         2
261.4 bhp        2
175.56 bhp       2
187.4 bhp        2
84.88 bhp        2
82.9 bhp         2
197.2 bhp        2
237.4 bhp        2
203.2 bhp        2
178 bhp          2
218 bhp          2
160.92 bhp       2
98.69 bhp        2
215 bhp          2
139.46 bhp       2
147.5 bhp        2
126.24 bhp       2
73.74 bhp        2
163.60 bhp       2
86.76 bhp        2
191.76 bhp       2
107.3 bhp        2
177.6 bhp        2
157.75 bhp       2
123.24 bhp       2
207 bhp          2
56.21 bhp        2
121.4 bhp        2
321.84 bhp       2
300 bhp          2
118.68 bhp       2
100.57 bhp       2
113.4 bhp        2
92.7 bhp         2
32.8 bhp         2
94.93 bhp        2
88 bhp           2
140.8 bhp        2
435 bhp          2
35 bhp           2
45 bhp           2
189.08 bhp       1
76.9 bhp         1
562.20 bhp       1
85.82 bhp        1
641.00 bhp       1
75.94 bhp        1
244.1 bhp        1
172.99 bhp       1
400 bhp          1
240 bhp          1
503 bhp          1
306 bhp          1
214.56 bhp       1
64.1 bhp         1
245.4 bhp        1
58 bhp           1
227 bhp          1
153.87 bhp       1
75.10 bhp        1
158.2 bhp        1
38.4 bhp         1
1001.11 bhp      1
148.31 bhp       1
162 bhp          1
40.36 bhp        1
118.3 bhp        1
169 bhp          1
25.4 bhp         1
68.4 bhp         1
85.7 bhp         1
453.26 bhp       1
74.9 bhp         1
59.17 bhp        1
134.10 bhp       1
97.7 bhp         1
301.73 bhp       1
201 bhp          1
117.60 bhp       1
254.8 bhp        1
175 bhp          1
192 bhp          1
552 bhp          1
80.84 bhp        1
252 bhp          1
82.5 bhp         1
177.5 bhp        1
281.68 bhp       1
549.81 bhp       1
440 bhp          1
112.4 bhp        1
102.53 bhp       1
154 bhp          1
469.35 bhp       1
156.82 bhp       1
120.7 bhp        1
91.2 bhp         1
271.2 bhp        1
104.5 bhp        1
178.49 bhp       1
395 bhp          1
429.12 bhp       1
335 bhp          1
99.6 bhp         1
120.3 bhp        1
248 bhp          1
265 bhp          1
97.6 bhp         1
496.17 bhp       1
64.4 bhp         1
83.11 bhp        1
108.50 bhp       1
152.88 bhp       1
142 bhp          1
85 bhp           1
68.1 bhp         1
153.81 bhp       1
174 bhp          1
134 bhp          1
134.1 bhp        1
225.29 bhp       1
273.56 bhp       1
187.743 bhp      1
542 bhp          1
282 bhp          1
294.9 bhp        1
147.6 bhp        1
91.72 bhp        1
165 bhp          1
194.4 bhp        1
161 bhp          1
167.7 bhp        1
70.67 bhp        1
96.55 bhp        1
157.8 bhp        1
Name: count, dtype: int64

In [106]:
df.isnull().sum()/len(df)*100

vehicle_name          0.000000
fuel_type             0.000000
seats                 0.000000
kms_driven            0.000000
ownership             0.000000
engine(cc)            0.000000
transmission_type     0.000000
engine_power         30.575117
drive_type           78.022300
new_vehicle_price     0.000000
vehicle_price         0.000000
other_features        0.000000
mileage(kmpl)        32.599765
registration_year     0.000000
brand                 0.000000
model                 0.000000
rto_state             0.000000
dtype: float64

In [107]:
df['engine_power'] = df['engine_power'].str.replace('bhp','').astype('Float64')

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10224 entries, 0 to 10223
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   vehicle_name       10224 non-null  object
 1   fuel_type          10224 non-null  object
 2   seats              10224 non-null  object
 3   kms_driven         10224 non-null  int64
 4   ownership          10224 non-null  category
 5   engine(cc)         10224 non-null  int32
 6   transmission_type  10224 non-null  category
 7   engine_power       7098 non-null   Float64
 8   drive_type         2247 non-null   object
 9   new_vehicle_price  10224 non-null  object
 10  vehicle_price      10224 non-null  object
 11  other_features     10224 non-null  object
 12  mileage(kmpl)      6891 non-null   float64
 13  registration_year  10224 non-null  int64
 14  brand              10224 non-null  object
 15  model              10224 non-null  object
 16  rto_state          10224 non-null  object
dtypes: Float64(1), category(2), float64(1), int32(1), int64(2), object(10)
memory usage: 1.5+ MB

#### drive_type :

In [109]:
df.head()

,vehicle_name,fuel_type,seats,kms_driven,ownership,engine(cc),transmission_type,engine_power,drive_type,new_vehicle_price,vehicle_price,other_features,mileage(kmpl),registration_year,brand,model,rto_state
0,2013 Toyota Etios GD,Diesel,5 Seats,150000,Fourth Owner,1364,Manual,<NA>,NaN,New Car Price ₹8.05 Lakh,₹2.60 Lakh,[],NaN,2013,Toyota,Etios,Rajasthan
1,2024 Toyota Glanza V,Petrol,5 Seats,10000,First Owner,1197,Manual,<NA>,NaN,New Car Price ₹11.28 Lakh,₹9.40 Lakh,[],NaN,2024,Toyota,Glanza,Punjab
2,2017 Hyundai Creta 1.4 E Plus,Diesel,5 Seats,75000,First Owner,1396,Manual,<NA>,NaN,New Car Price ₹11.86 Lakh,₹6.25 Lakh Make Your Offer,[],NaN,2017,Hyundai,Creta,Haryana
3,2011 Volkswagen Vento Diesel Trendline,Diesel,5 Seats,160000,Third Owner,1598,Manual,103.6,NaN,New Car Price ₹10.05 Lakh,₹1.40 Lakh,['Parking Sensors'],20.54,2011,Volkswagen,Vento,Punjab
4,2014 Hyundai Verna 1.6 CRDI,Diesel,5 Seats,120000,First Owner,1582,Manual,126.3,NaN,New Car Price ₹11.87 Lakh,₹4 Lakh,"['Automatic Climate Control', 'Parking Sensors']",22.32,2014,Hyundai,Verna,Uttar Pradesh

In [110]:
df.isnull().sum()/len(df)*100

vehicle_name          0.000000
fuel_type             0.000000
seats                 0.000000
kms_driven            0.000000
ownership             0.000000
engine(cc)            0.000000
transmission_type     0.000000
engine_power         30.575117
drive_type           78.022300
new_vehicle_price     0.000000
vehicle_price         0.000000
other_features        0.000000
mileage(kmpl)        32.599765
registration_year     0.000000
brand                 0.000000
model                 0.000000
rto_state             0.000000
dtype: float64

In [111]:
df['drive_type'].value_counts()

drive_type
FWD                 1374
RWD                  343
AWD                  166
4WD                  145
2WD                  117
4X4                   39
4X2                   36
RWD(with MTT)         11
4x2                    6
2 WD                   6
Four Whell Drive       1
4x4                    1
Permanent AWD          1
All Wheel Drive        1
Name: count, dtype: int64

In [112]:
# dropping the col because it has 78% missing values
df.drop(columns=['drive_type'],axis=1,inplace=True)

#### New_vehicle_price :

In [113]:
df.head()

,vehicle_name,fuel_type,seats,kms_driven,ownership,engine(cc),transmission_type,engine_power,new_vehicle_price,vehicle_price,other_features,mileage(kmpl),registration_year,brand,model,rto_state
0,2013 Toyota Etios GD,Diesel,5 Seats,150000,Fourth Owner,1364,Manual,<NA>,New Car Price ₹8.05 Lakh,₹2.60 Lakh,[],NaN,2013,Toyota,Etios,Rajasthan
1,2024 Toyota Glanza V,Petrol,5 Seats,10000,First Owner,1197,Manual,<NA>,New Car Price ₹11.28 Lakh,₹9.40 Lakh,[],NaN,2024,Toyota,Glanza,Punjab
2,2017 Hyundai Creta 1.4 E Plus,Diesel,5 Seats,75000,First Owner,1396,Manual,<NA>,New Car Price ₹11.86 Lakh,₹6.25 Lakh Make Your Offer,[],NaN,2017,Hyundai,Creta,Haryana
3,2011 Volkswagen Vento Diesel Trendline,Diesel,5 Seats,160000,Third Owner,1598,Manual,103.6,New Car Price ₹10.05 Lakh,₹1.40 Lakh,['Parking Sensors'],20.54,2011,Volkswagen,Vento,Punjab
4,2014 Hyundai Verna 1.6 CRDI,Diesel,5 Seats,120000,First Owner,1582,Manual,126.3,New Car Price ₹11.87 Lakh,₹4 Lakh,"['Automatic Climate Control', 'Parking Sensors']",22.32,2014,Hyundai,Verna,Uttar Pradesh

In [114]:
df.isnull().sum()

vehicle_name            0
fuel_type               0
seats                   0
kms_driven              0
ownership               0
engine(cc)              0
transmission_type       0
engine_power         3126
new_vehicle_price       0
vehicle_price           0
other_features          0
mileage(kmpl)        3333
registration_year       0
brand                   0
model                   0
rto_state               0
dtype: int64

In [116]:
#extracting the price value and converting into flaot
import re


def convert_price(x):
    x = str(x)

    # --- Crore format ---
    crore_match = re.search(r'₹\s*([\d\.]+)\s*Crore', x, re.IGNORECASE)
    if crore_match:
        return float(crore_match.group(1)) * 10000000  # 1 Crore = 1 Cr * 1 Crore

    # --- Lakh format ---
    lakh_match = re.search(r'₹\s*([\d\.]+)\s*Lakh', x, re.IGNORECASE)
    if lakh_match:
        return float(lakh_match.group(1)) * 100000     # 1 Lakh

    return np.nan
        

df['new_vehicle_price_rupees'] = df['new_vehicle_price'].apply(convert_price)

In [117]:
df.drop(columns=['new_vehicle_price'],axis=1,inplace=True)

In [118]:
df.isnull().sum()

vehicle_name                   0
fuel_type                      0
seats                          0
kms_driven                     0
ownership                      0
engine(cc)                     0
transmission_type              0
engine_power                3126
vehicle_price                  0
other_features                 0
mileage(kmpl)               3333
registration_year              0
brand                          0
model                          0
rto_state                      0
new_vehicle_price_rupees       0
dtype: int64

#### Vehicle_price :

In [119]:
df.head()

,vehicle_name,fuel_type,seats,kms_driven,ownership,engine(cc),transmission_type,engine_power,vehicle_price,other_features,mileage(kmpl),registration_year,brand,model,rto_state,new_vehicle_price_rupees
0,2013 Toyota Etios GD,Diesel,5 Seats,150000,Fourth Owner,1364,Manual,<NA>,₹2.60 Lakh,[],NaN,2013,Toyota,Etios,Rajasthan,805000.0
1,2024 Toyota Glanza V,Petrol,5 Seats,10000,First Owner,1197,Manual,<NA>,₹9.40 Lakh,[],NaN,2024,Toyota,Glanza,Punjab,1128000.0
2,2017 Hyundai Creta 1.4 E Plus,Diesel,5 Seats,75000,First Owner,1396,Manual,<NA>,₹6.25 Lakh Make Your Offer,[],NaN,2017,Hyundai,Creta,Haryana,1186000.0
3,2011 Volkswagen Vento Diesel Trendline,Diesel,5 Seats,160000,Third Owner,1598,Manual,103.6,₹1.40 Lakh,['Parking Sensors'],20.54,2011,Volkswagen,Vento,Punjab,1005000.0
4,2014 Hyundai Verna 1.6 CRDI,Diesel,5 Seats,120000,First Owner,1582,Manual,126.3,₹4 Lakh,"['Automatic Climate Control', 'Parking Sensors']",22.32,2014,Hyundai,Verna,Uttar Pradesh,1187000.0

In [120]:
df.isnull().sum()

vehicle_name                   0
fuel_type                      0
seats                          0
kms_driven                     0
ownership                      0
engine(cc)                     0
transmission_type              0
engine_power                3126
vehicle_price                  0
other_features                 0
mileage(kmpl)               3333
registration_year              0
brand                          0
model                          0
rto_state                      0
new_vehicle_price_rupees       0
dtype: int64

In [121]:
# extracting only price value from the col and making it into rupees
def convert_price_to_rupees(x):
    x = str(x)

    # Remove "Make Your Offer"
    x = x.replace("Make Your Offer", "").strip()

    # Handle Crore
    crore_match = re.search(r"₹\s*([\d\.]+)\s*Crore", x, re.IGNORECASE)
    if crore_match:
        return float(crore_match.group(1)) * 10000000    # 1 Crore = 1 Cr = 1e7

    # Handle Lakh
    lakh_match = re.search(r"₹\s*([\d\.]+)\s*Lakh", x, re.IGNORECASE)
    if lakh_match:
        return float(lakh_match.group(1)) * 100000       # 1 Lakh = 1e5

    # Handle Thousand
    thousand_match = re.search(r"₹\s*([\d\.]+)\s*Thousand", x, re.IGNORECASE)
    if thousand_match:
        return float(thousand_match.group(1)) * 1000     # 1 Thousand = 1e3

    # Very rare: values like "₹1 Crore" with no number
    if "₹" in x:
        numeric = re.findall(r"[\d\.]+", x)
        if numeric:
            return float(numeric[0]) * 1  # direct assume rupees (rare)

    return np.nan   # if no pattern matches


# APPLY TO COLUMN
df["vehicle_price_rupees"] = df["vehicle_price"].apply(convert_price_to_rupees)

In [122]:
df.drop(columns=['vehicle_price'],axis=1,inplace=True)

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10224 entries, 0 to 10223
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   vehicle_name              10224 non-null  object
 1   fuel_type                 10224 non-null  object
 2   seats                     10224 non-null  object
 3   kms_driven                10224 non-null  int64
 4   ownership                 10224 non-null  category
 5   engine(cc)                10224 non-null  int32
 6   transmission_type         10224 non-null  category
 7   engine_power              7098 non-null   Float64
 8   other_features            10224 non-null  object
 9   mileage(kmpl)             6891 non-null   float64
 10  registration_year         10224 non-null  int64
 11  brand                     10224 non-null  object
 12  model                     10224 non-null  object
 13  rto_state                 10224 non-null  object
 14  new_vehicle_price_rupees  10224 non-null  float64
 15  vehicle_price_rupees      10224 non-null  float64
dtypes: Float64(1), category(2), float64(3), int32(1), int64(2), object(7)
memory usage: 1.4+ MB

#### Other features :

In [124]:
df.head()

,vehicle_name,fuel_type,seats,kms_driven,ownership,engine(cc),transmission_type,engine_power,other_features,mileage(kmpl),registration_year,brand,model,rto_state,new_vehicle_price_rupees,vehicle_price_rupees
0,2013 Toyota Etios GD,Diesel,5 Seats,150000,Fourth Owner,1364,Manual,<NA>,[],NaN,2013,Toyota,Etios,Rajasthan,805000.0,260000.0
1,2024 Toyota Glanza V,Petrol,5 Seats,10000,First Owner,1197,Manual,<NA>,[],NaN,2024,Toyota,Glanza,Punjab,1128000.0,940000.0
2,2017 Hyundai Creta 1.4 E Plus,Diesel,5 Seats,75000,First Owner,1396,Manual,<NA>,[],NaN,2017,Hyundai,Creta,Haryana,1186000.0,625000.0
3,2011 Volkswagen Vento Diesel Trendline,Diesel,5 Seats,160000,Third Owner,1598,Manual,103.6,['Parking Sensors'],20.54,2011,Volkswagen,Vento,Punjab,1005000.0,140000.0
4,2014 Hyundai Verna 1.6 CRDI,Diesel,5 Seats,120000,First Owner,1582,Manual,126.3,"['Automatic Climate Control', 'Parking Sensors']",22.32,2014,Hyundai,Verna,Uttar Pradesh,1187000.0,400000.0

In [127]:
df['has_parking_sensors'] = df['other_features'].str.contains('Parking Sensors').apply(lambda x: 1 if x==True else 0)

In [131]:
df['has_automatic_climate_control'] = df['other_features'].str.contains('Automatic Climate Control').apply(lambda x: 1 if x==True else 0)

In [136]:
df['has_rear_ac_vents'] = df['other_features'].str.contains('Rear AC Vents').apply(lambda x: 1 if x==True else 0)

In [140]:
df['has_central_locking'] = df['other_features'].str.contains('Central Locking').apply(lambda x: 1 if x==True else 0)

In [141]:
df['has_air_purifier'] = df['other_features'].str.contains('Air Purifier').apply(lambda x: 1 if x==True else 0)

In [145]:
df.drop(columns=['has_keyless_entry'],axis=1,inplace=True)

In [146]:
df.head()

,vehicle_name,fuel_type,seats,kms_driven,ownership,engine(cc),transmission_type,engine_power,other_features,mileage(kmpl),...,brand,model,rto_state,new_vehicle_price_rupees,vehicle_price_rupees,has_parking_sensors,has_automatic_climate_control,has_rear_ac_vents,has_central_locking,has_air_purifier
0,2013 Toyota Etios GD,Diesel,5 Seats,150000,Fourth Owner,1364,Manual,<NA>,[],NaN,...,Toyota,Etios,Rajasthan,805000.0,260000.0,0,0,0,0,0
1,2024 Toyota Glanza V,Petrol,5 Seats,10000,First Owner,1197,Manual,<NA>,[],NaN,...,Toyota,Glanza,Punjab,1128000.0,940000.0,0,0,0,0,0
2,2017 Hyundai Creta 1.4 E Plus,Diesel,5 Seats,75000,First Owner,1396,Manual,<NA>,[],NaN,...,Hyundai,Creta,Haryana,1186000.0,625000.0,0,0,0,0,0
3,2011 Volkswagen Vento Diesel Trendline,Diesel,5 Seats,160000,Third Owner,1598,Manual,103.6,['Parking Sensors'],20.54,...,Volkswagen,Vento,Punjab,1005000.0,140000.0,1,0,0,0,0
4,2014 Hyundai Verna 1.6 CRDI,Diesel,5 Seats,120000,First Owner,1582,Manual,126.3,"['Automatic Climate Control', 'Parking Sensors']",22.32,...,Hyundai,Verna,Uttar Pradesh,1187000.0,400000.0,1,1,0,0,0

In [148]:
df.drop(columns=['vehicle_name','other_features'],axis=1,inplace=True)

In [150]:
df1 = df[['brand','model','registration_year','fuel_type','seats','rto_state','transmission_type','ownership','engine(cc)','kms_driven','engine_power','mileage(kmpl)','has_parking_sensors','has_automatic_climate_control','has_rear_ac_vents','has_central_locking','has_air_purifier','new_vehicle_price_rupees','vehicle_price_rupees']]

In [154]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10224 entries, 0 to 10223
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   brand                          10224 non-null  object
 1   model                          10224 non-null  object
 2   registration_year              10224 non-null  int64
 3   fuel_type                      10224 non-null  object
 4   seats                          10224 non-null  object
 5   rto_state                      10224 non-null  object
 6   transmission_type              10224 non-null  category
 7   ownership                      10224 non-null  category
 8   engine(cc)                     10224 non-null  int32
 9   kms_driven                     10224 non-null  int64
 10  engine_power                   7098 non-null   Float64
 11  mileage(kmpl)                  6891 non-null   float64
 12  has_parking_sensors            10224 non-null  int64
 13  has_automatic_climate_control  10224 non-null  int64
 14  has_rear_ac_vents              10224 non-null  int64
 15  has_central_locking            10224 non-null  int64
 16  has_air_purifier               10224 non-null  int64
 17  new_vehicle_price_rupees       10224 non-null  float64
 18  vehicle_price_rupees           10224 non-null  float64
dtypes: Float64(1), category(2), float64(3), int32(1), int64(7), object(5)
memory usage: 1.6+ MB

#### Mileage(kmpl) & Engine_power :

In [9]:
df.isnull().sum()/len(df)*100

brand                             0.000000
model                             0.000000
registration_year                 0.000000
fuel_type                         0.000000
seats                             0.000000
rto_state                         0.000000
transmission_type                 0.000000
ownership                         0.000000
engine(cc)                        0.000000
kms_driven                        0.000000
engine_power                     30.575117
mileage(kmpl)                    32.599765
has_parking_sensors               0.000000
has_automatic_climate_control     0.000000
has_rear_ac_vents                 0.000000
has_central_locking               0.000000
has_air_purifier                  0.000000
new_vehicle_price_rupees          0.000000
vehicle_price_rupees              0.000000
dtype: float64

In [10]:
df.head()

,brand,model,registration_year,fuel_type,seats,rto_state,transmission_type,ownership,engine(cc),kms_driven,engine_power,mileage(kmpl),has_parking_sensors,has_automatic_climate_control,has_rear_ac_vents,has_central_locking,has_air_purifier,new_vehicle_price_rupees,vehicle_price_rupees
0,Toyota,Etios,2013,Diesel,5 Seats,Rajasthan,Manual,Fourth Owner,1364,150000,NaN,NaN,0,0,0,0,0,805000.0,260000.0
1,Toyota,Glanza,2024,Petrol,5 Seats,Punjab,Manual,First Owner,1197,10000,NaN,NaN,0,0,0,0,0,1128000.0,940000.0
2,Hyundai,Creta,2017,Diesel,5 Seats,Haryana,Manual,First Owner,1396,75000,NaN,NaN,0,0,0,0,0,1186000.0,625000.0
3,Volkswagen,Vento,2011,Diesel,5 Seats,Punjab,Manual,Third Owner,1598,160000,103.6,20.54,1,0,0,0,0,1005000.0,140000.0
4,Hyundai,Verna,2014,Diesel,5 Seats,Uttar Pradesh,Manual,First Owner,1582,120000,126.3,22.32,1,1,0,0,0,1187000.0,400000.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10224 entries, 0 to 10223
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   brand                          10224 non-null  object
 1   model                          10224 non-null  object
 2   registration_year              10224 non-null  int64
 3   fuel_type                      10224 non-null  object
 4   seats                          10224 non-null  object
 5   rto_state                      10224 non-null  object
 6   transmission_type              10224 non-null  object
 7   ownership                      10224 non-null  object
 8   engine(cc)                     10224 non-null  int64
 9   kms_driven                     10224 non-null  int64
 10  engine_power                   7098 non-null   float64
 11  mileage(kmpl)                  6891 non-null   float64
 12  has_parking_sensors            10224 non-null  int64
 13  has_automatic_climate_control  10224 non-null  int64
 14  has_rear_ac_vents              10224 non-null  int64
 15  has_central_locking            10224 non-null  int64
 16  has_air_purifier               10224 non-null  int64
 17  new_vehicle_price_rupees       10224 non-null  float64
 18  vehicle_price_rupees           10224 non-null  float64
dtypes: float64(4), int64(8), object(7)
memory usage: 1.6+ MB

In [17]:
df['brand'] = df['brand'].astype('category')
df['fuel_type'] = df['fuel_type'].astype('category')
df['seats'] = df['seats'].astype('category')
df['rto_state'] = df['rto_state'].astype('category')
df['ownership'] = df['ownership'].astype('category')
df['transmission_type'] = df['transmission_type'].astype('category')
df['has_parking_sensors'] = df['has_parking_sensors'].astype('int8')
df['has_automatic_climate_control'] = df['has_automatic_climate_control'].astype('int8')
df['has_rear_ac_vents'] = df['has_rear_ac_vents'].astype('int8')
df['has_air_purifier'] = df['has_air_purifier'].astype('int8')
df['has_central_locking'] = df['has_central_locking'].astype('int8')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10224 entries, 0 to 10223
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   brand                          10224 non-null  category
 1   model                          10224 non-null  object
 2   registration_year              10224 non-null  int64
 3   fuel_type                      10224 non-null  category
 4   seats                          10224 non-null  category
 5   rto_state                      10224 non-null  category
 6   transmission_type              10224 non-null  category
 7   ownership                      10224 non-null  category
 8   engine(cc)                     10224 non-null  int64
 9   kms_driven                     10224 non-null  int64
 10  engine_power                   7098 non-null   float64
 11  mileage(kmpl)                  6891 non-null   float64
 12  has_parking_sensors            10224 non-null  int8
 13  has_automatic_climate_control  10224 non-null  int8
 14  has_rear_ac_vents              10224 non-null  int8
 15  has_central_locking            10224 non-null  int8
 16  has_air_purifier               10224 non-null  int8
 17  new_vehicle_price_rupees       10224 non-null  float64
 18  vehicle_price_rupees           10224 non-null  float64
dtypes: category(6), float64(4), int64(3), int8(5), object(1)
memory usage: 832.3+ KB

In [20]:
df.head()

,brand,model,registration_year,fuel_type,seats,rto_state,transmission_type,ownership,engine(cc),kms_driven,engine_power,mileage(kmpl),has_parking_sensors,has_automatic_climate_control,has_rear_ac_vents,has_central_locking,has_air_purifier,new_vehicle_price_rupees,vehicle_price_rupees
0,Toyota,Etios,2013,Diesel,5 Seats,Rajasthan,Manual,Fourth Owner,1364,150000,NaN,NaN,0,0,0,0,0,805000.0,260000.0
1,Toyota,Glanza,2024,Petrol,5 Seats,Punjab,Manual,First Owner,1197,10000,NaN,NaN,0,0,0,0,0,1128000.0,940000.0
2,Hyundai,Creta,2017,Diesel,5 Seats,Haryana,Manual,First Owner,1396,75000,NaN,NaN,0,0,0,0,0,1186000.0,625000.0
3,Volkswagen,Vento,2011,Diesel,5 Seats,Punjab,Manual,Third Owner,1598,160000,103.6,20.54,1,0,0,0,0,1005000.0,140000.0
4,Hyundai,Verna,2014,Diesel,5 Seats,Uttar Pradesh,Manual,First Owner,1582,120000,126.3,22.32,1,1,0,0,0,1187000.0,400000.0

In [21]:
#saving the df with same dtypes
import pickle

with open("original_data_without_imputation.pkl", "wb") as f:
    pickle.dump(df, f)